
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text_align_center {
        text-align: center;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <h2></h2>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divEnquery" class="text_align_center"></h3>
                                <p class="text_align_center">Enquiry's</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divBatch" class="text_align_center"></h3>
                                <p class="text_align_center">Batch</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a id="BatchCount" onclick="BatchCountPopup();" href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divPlans" class="text_align_center"></h3>
                                <p class="text_align_center">Plans</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a id="PlanCount" onclick="PlanCountPopup();" href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divBirthday" class="text_align_center"></h3>
                                <p class="text_align_center">Birthdays</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" id="BirthdayCount" onclick="BirthdayPopup();" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divTrainers" class="text_align_center"></h3>
                                <p class="text_align_center">Trainers</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" onclick="TrainersPopup();" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id="divTodayRegisterMember" class="text_align_center"></h3>
                                <p class="text_align_center">New Member's</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" onclick="TodayMemberPopup();" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-box">
                            <span onclick="TotalMemberPopup();" class="info-box-icon bg-success"><i class="fas fa-user-plus"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Members</span>
                                <span class="info-box-number" id="spanMembers">1,410</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <span onclick="TodayCollectionPopup();" class="info-box-icon bg-info"><i class="fa fa-piggy-bank"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Todays Collection</span>
                                <span class="info-box-number" id="spanTodayCollection">1,410</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-box">
                            <span onclick="UnPaidMemberPopup();" class="info-box-icon bg-red"><i class="fas fa-user-plus"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Unpaid</span>
                                <span class="info-box-number" id="spanUnpaid">1,410</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <span onclick="InActiveMemberPopup();" class="info-box-icon bg-red"><i class="fas fa-user-plus"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">In Active Users</span>
                                <span class="info-box-number">1,410</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="margin: 0px;">Monthly Admissions<span id="Donutlegend"></span></h4>
                        <div id="bar-chart" height="170"></div>
                        @*<canvas id="bar-chart" height="170"></canvas>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="margin: 0px;">Monthly Fees Collection<span id="Donutlegend_1"></span></h4>
                        <div id="piechart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <!-- /.modal -->
    <div class="modal fade" id="BatchCountPopup">
        <div class="modal-dialog" style="max-width: 968px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Batch</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped table-hover dataTable" id="BatchGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Batch Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Amount</th>
                                <th>Tax</th>
                                <th>GST Amount</th>
                                <th>Total Amount</th>
                                <th>No of Days</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="PlanCountPopup">
        <div class="modal-dialog" style="max-width: 558px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Plan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="PackageGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Package Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Fees</th>
                                <th>Tax</th>
                                <th>Total Fees</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="BirthdayPopup">
        <div class="modal-dialog" style="max-width: 815px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Birthday</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="BirthdayGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="TrainersPopup">
        <div class="modal-dialog" style="max-width: 969px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Trainers</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="TrainerGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Trainer Id</th>
                                <th>First Name</th>
                                <th>Last No</th>
                                <th>Gender</th>
                                <th>Birth Date </th>
                                <th>Contact </th>
                                <th>Email </th>
                                <th>Address </th>
                                <th>Added Date</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="TodayMemberPopup">
        <div class="modal-dialog" style="max-width: 1009px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Memeber</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="MemberGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Member Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Birth Date </th>
                                <th>Contact </th>
                                <th>Email </th>
                                <th>Address </th>
                                <th>Added Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="TotalMemberPopup">
        <div class="modal-dialog" style="max-width: 1153px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Memeber</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="TotalMemberGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Member Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Birth Date </th>
                                <th>Contact </th>
                                <th>Email </th>
                                <th>Address </th>
                                <th>Added Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="UnPaidMemberPopup">
        <div class="modal-dialog" style="max-width: 751px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> UnPaid Member</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="UnPaidGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Member Id</th>
                                <th>Batch Id</th>
                                <th>Next Fees Date</th>
                                <th>Member Name</th>
                                <th>Gender</th>
                                <th>Pending Amount </th>
                                <th>Contact </th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="TodayCollectionPopup">
        <div class="modal-dialog" style="max-width: 1067px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Today Collection</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="PayfessDetails">
                        <thead>
                            <tr class="align-middle">
                                <th style="width:50px">Action</th>
                                <th>Transaction No</th>
                                <th>Transaction Date</th>
                                <th>Member</th>
                                <th>Paid Amount</th>
                                <th>Pending Amount</th>
                                <th>Total Amount</th>
                                <th>Payment Type</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="InActiveMemberPopup">
        <div class="modal-dialog" style="max-width: 1335px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-pen"></i> InActive Member</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover dataTable" id="InActiveMemberGrid">
                        <thead>
                            <tr class="align-middle">
                                <th>Member Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Birth Date </th>
                                <th>Contact </th>
                                <th>Email </th>
                                <th>Address </th>
                                <th>Added Date</th>
                                <th>Status</th>
                                <th>On Hold</th>
                                <th>On Hold <br> Date</th>
                            </tr>
                        </thead>
                        <tbody class="js-sweetalert"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>

<script src="~/dist/plugins/jquery/jquery.min.js"></script>
<script src="~/Dashboard/Dashboard.js"></script>
<script>
    $(document).ready(function () {
        GetAllCount();
        disablePrev();
        RenderCharts();
    });

    function disablePrev() { window.history.forward() }
    window.onload = disablePrev();
    window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
</script>