USE [master]
GO
/****** Object:  Database [GymManagement]    Script Date: 19-09-2023 12:16:16 ******/
CREATE DATABASE [GymManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymManagement', FILENAME = N'C:\Users\vinay\GymManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GymManagement_log', FILENAME = N'C:\Users\vinay\GymManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymManagement]
GO
USE [GymManagement]
GO
/****** Object:  UserDefinedTableType [dbo].[TYP_ROLE_MENU_MAP]    Script Date: 19-09-2023 12:16:17 ******/
CREATE TYPE [dbo].[TYP_ROLE_MENU_MAP] AS TABLE(
	[ROLE_ID] [int] NOT NULL,
	[MENU_ID] [int] NOT NULL,
	[IS_ENABLE] [bit] NOT NULL
)
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TYPE](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [varchar](100) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_MASTER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MASTER](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](30) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BATCH]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BATCH](
	[BATCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[TAX_ID] [int] NULL,
	[GST_AMOUNT] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[NO_OF_DAYS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BATCH_MEMBER_MAPPING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BATCH_MEMBER_MAPPING](
	[BATCH_MEMBER_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEMBERID] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[BATCH_ID] [int] NULL,
	[BATCH_TIMING_ID] [int] NULL,
	[PACKAGE_ID] [int] NULL,
	[IS_ON_HOLD] [bit] NOT NULL,
	[IS_NO_HOLD_DATETIME] [date] NULL,
	[NEXT_FEES_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCH_MEMBER_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BATCH_TIMING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BATCH_TIMING](
	[BATCH_TIMING_ID] [int] IDENTITY(1,1) NOT NULL,
	[BATCH_ID] [int] NULL,
	[TRAINER_ID] [int] NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[FROM_TIME] [time](7) NULL,
	[TO_TIME] [time](7) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[IS_DELETED] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCH_TIMING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BATCH_TRAINER_MAPPING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BATCH_TRAINER_MAPPING](
	[BATCH_TRAINER_MAPPING_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRAINER_ID] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BATCH_TRAINER_MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FEES_MEMBER_HISTORY]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FEES_MEMBER_HISTORY](
	[FEES_MEMBER_HISTORY_ID] [int] NOT NULL,
	[MEMBER_ID] [int] NULL,
	[PAID_AMOUNT] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[PENDING_AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_ID] [int] NULL,
	[TRANSACTION_NO] [varchar](100) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[TRANSACTION_DATETIME] [datetime] NULL,
	[BATCH_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FEES_MEMBER_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FEES_MEMBER_MAPPING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FEES_MEMBER_MAPPING](
	[FEES_MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEMBER_ID] [int] NULL,
	[PAID_AMOUNT] [decimal](18, 2) NULL,
	[TOTAL_AMOUNT] [decimal](18, 2) NULL,
	[PENDING_AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_ID] [int] NULL,
	[TRASACTION_NO] [varchar](100) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATETIME] [datetime] NULL,
	[TRANSATION_DATETIME] [datetime] NULL,
	[BATCH_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FEES_MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MEMBERS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MEMBERS](
	[MEMBERID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NULL,
	[LASTNAME] [varchar](50) NULL,
	[GENDER] [int] NULL,
	[DATEOFBIRTH] [date] NULL,
	[CONTACTNUMBER] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[ADDRESS] [varchar](255) NULL,
	[ADDED_DATE] [datetime] NULL,
	[ADDED_BY] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[IMAGEDATA] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_CODE] [varchar](20) NOT NULL,
	[MENU_NAME] [varchar](100) NOT NULL,
	[PARENT_MENU_ID] [int] NULL,
	[MENU_URL] [varchar](100) NOT NULL,
	[ICON_CSS_NAME] [varchar](100) NOT NULL,
	[SEQ_NO] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_POPUP_UP] [bit] NOT NULL,
	[IS_EDITABLE] [bit] NULL,
	[MNU_ACTION] [varchar](100) NULL,
	[MENU_CONTROLLER] [varchar](100) NULL,
	[MENU_AREA] [varchar](100) NULL,
	[IS_ADD] [bit] NULL,
	[IS_EDIT] [bit] NULL,
	[IS_DELETE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PACKAGE_MANAGEMENT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PACKAGE_MANAGEMENT](
	[PACKAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[FEES] [decimal](18, 2) NULL,
	[TAX_ID] [int] NULL,
	[ADDED_BY] [int] NULL,
	[TOTAL_FEES] [decimal](18, 2) NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_BY_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PACKAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PROJECT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PROJECT](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROLE_MENU_MAP]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROLE_MENU_MAP](
	[ROLE_MENU_MAP_ID] [int] NOT NULL,
	[ROLE_ID] [int] NULL,
	[MENU_ID] [int] NULL,
	[IS_ENABLE] [bit] NOT NULL,
	[LAST_UPDATE_BY] [varchar](20) NULL,
	[LAST_UPDATE_TIME] [datetime] NOT NULL,
	[IS_ADD_ACCESS] [bit] NULL,
	[IS_EDIT_ACCESS] [bit] NULL,
	[IS_DELETE_ACCESS] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SEX]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SEX](
	[SEX_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEX] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SPECIALIZATION]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SPECIALIZATION](
	[SPECIALIZATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SPECIALIZATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TAX_MASTER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TAX_MASTER](
	[TAX_ID] [int] IDENTITY(1,1) NOT NULL,
	[TAX_NAME] [varchar](20) NULL,
	[DEDUCATION_PERCENT] [decimal](18, 2) NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_BY_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TRAINERS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TRAINERS](
	[TRAINER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NULL,
	[LASTNAME] [varchar](50) NULL,
	[GENDER] [int] NULL,
	[CONTACTNUMBER] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[SPECIALIZATION] [int] NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[DATEOFBIRTH] [datetime] NULL,
	[ADDRESS] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TRAINER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_DETAIL]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_DETAIL](
	[USER_DETAIL_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ROLE_ID] [int] NULL,
	[LAST_UPDATE_BY] [int] NOT NULL,
	[LAST_UPDATE_TIME] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_MENU_MAP]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_MENU_MAP](
	[USER_MENU_MAP_ID] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[MENU_ID] [int] NULL,
	[IS_ENABLE] [bit] NOT NULL,
	[LAST_UPDATE_BY] [int] NULL,
	[LAST_UPDATE_TIME] [datetime] NOT NULL,
	[IS_ADD_ACCESS] [bit] NULL,
	[IS_EDIT_ACCESS] [bit] NULL,
	[IS_DELETE_ACCESS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_MENU_MAP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER_ROLE]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER_ROLE](
	[ROLE_ID] [int] NOT NULL,
	[ROLE_NAME] [varchar](50) NOT NULL,
	[ROLE_DESCRIPTION] [varchar](200) NULL,
	[IS_IN_USE] [bit] NOT NULL,
	[LAST_UPDATE_BY] [varchar](100) NULL,
	[LAST_UPDATE_TIME] [datetime] NOT NULL,
	[IS_VENDOR_LOGIN] [bit] NULL,
	[IS_SUPER_USER] [bit] NULL,
	[IS_CONSUMER_LOGIN] [bit] NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNQ_USR_ROL_NAME] UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LOGIN_MASTER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOGIN_MASTER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[ROLE_ID] [int] NULL,
	[ADDED_BY] [int] NULL,
	[ADDED_BY_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_BATCH] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_BATCH] ADD  DEFAULT ((0)) FOR [NO_OF_DAYS]
GO
ALTER TABLE [dbo].[TBL_BATCH_MEMBER_MAPPING] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_BATCH_MEMBER_MAPPING] ADD  DEFAULT ((0)) FOR [IS_ON_HOLD]
GO
ALTER TABLE [dbo].[TBL_BATCH_TIMING] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TBL_BATCH_TRAINER_MAPPING] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_MEMBERS] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT ((0)) FOR [IS_POPUP_UP]
GO
ALTER TABLE [dbo].[TBL_MENU] ADD  DEFAULT ((0)) FOR [IS_EDITABLE]
GO
ALTER TABLE [dbo].[TBL_PACKAGE_MANAGEMENT] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_TAX_MASTER] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_TRAINERS] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TBL_USER_ROLE] ADD  DEFAULT ((0)) FOR [IS_VENDOR_LOGIN]
GO
ALTER TABLE [dbo].[TBL_BATCH]  WITH CHECK ADD FOREIGN KEY([TAX_ID])
REFERENCES [dbo].[TBL_TAX_MASTER] ([TAX_ID])
GO
ALTER TABLE [dbo].[TBL_BATCH_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([MEMBERID])
REFERENCES [dbo].[TBL_MEMBERS] ([MEMBERID])
GO
ALTER TABLE [dbo].[TBL_BATCH_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([PACKAGE_ID])
REFERENCES [dbo].[TBL_PACKAGE_MANAGEMENT] ([PACKAGE_ID])
GO
ALTER TABLE [dbo].[TBL_BATCH_TIMING]  WITH CHECK ADD FOREIGN KEY([TRAINER_ID])
REFERENCES [dbo].[TBL_TRAINERS] ([TRAINER_ID])
GO
ALTER TABLE [dbo].[TBL_BATCH_TRAINER_MAPPING]  WITH CHECK ADD FOREIGN KEY([TRAINER_ID])
REFERENCES [dbo].[TBL_TRAINERS] ([TRAINER_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_HISTORY]  WITH CHECK ADD FOREIGN KEY([ADDED_BY])
REFERENCES [dbo].[USER_LOGIN_MASTER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_HISTORY]  WITH CHECK ADD FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[TBL_BATCH] ([BATCH_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_HISTORY]  WITH CHECK ADD FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[TBL_MEMBERS] ([MEMBERID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_HISTORY]  WITH CHECK ADD FOREIGN KEY([PAYMENT_ID])
REFERENCES [dbo].[PAYMENT_TYPE] ([PAYMENT_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([ADDED_BY])
REFERENCES [dbo].[USER_LOGIN_MASTER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([BATCH_ID])
REFERENCES [dbo].[TBL_BATCH] ([BATCH_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[TBL_MEMBERS] ([MEMBERID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([PAYMENT_ID])
REFERENCES [dbo].[PAYMENT_TYPE] ([PAYMENT_ID])
GO
ALTER TABLE [dbo].[TBL_FEES_MEMBER_MAPPING]  WITH CHECK ADD FOREIGN KEY([UPDATED_BY])
REFERENCES [dbo].[USER_LOGIN_MASTER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_MEMBERS]  WITH CHECK ADD FOREIGN KEY([GENDER])
REFERENCES [dbo].[TBL_SEX] ([SEX_ID])
GO
ALTER TABLE [dbo].[TBL_PACKAGE_MANAGEMENT]  WITH CHECK ADD FOREIGN KEY([TAX_ID])
REFERENCES [dbo].[TBL_TAX_MASTER] ([TAX_ID])
GO
ALTER TABLE [dbo].[TBL_ROLE_MENU_MAP]  WITH CHECK ADD FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[TBL_MENU] ([MENU_ID])
GO
ALTER TABLE [dbo].[TBL_ROLE_MENU_MAP]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE_MASTER] ([ROLE_ID])
GO
ALTER TABLE [dbo].[TBL_TRAINERS]  WITH CHECK ADD FOREIGN KEY([GENDER])
REFERENCES [dbo].[TBL_SEX] ([SEX_ID])
GO
ALTER TABLE [dbo].[TBL_TRAINERS]  WITH CHECK ADD FOREIGN KEY([SPECIALIZATION])
REFERENCES [dbo].[TBL_SPECIALIZATION] ([SPECIALIZATION_ID])
GO
ALTER TABLE [dbo].[TBL_USER_MENU_MAP]  WITH CHECK ADD FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[TBL_MENU] ([MENU_ID])
GO
ALTER TABLE [dbo].[TBL_USER_MENU_MAP]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_LOGIN_MASTER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USER_ROLE_TBL_USER_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[TBL_USER_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[TBL_USER_ROLE] CHECK CONSTRAINT [FK_TBL_USER_ROLE_TBL_USER_ROLE]
GO
ALTER TABLE [dbo].[USER_LOGIN_MASTER]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE_MASTER] ([ROLE_ID])
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_BATCH]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_ADD_BATCH]  
@NAME VARCHAR(50),  
@DESCRIPTION VARCHAR(50),  
@FROM_DATE DATE,  
@TO_DATE DATE,  
@AMOUNT DECIMAL(18,2),  
@TAX_ID INT,  
@GST_AMOUNT DECIMAL(18,2),  
@TOTAL_AMOUNT DECIMAL(18,2),  
@NO_OF_DAYS INT,
@RowCount INT OUTPUT    
AS  
BEGIN  
  
 INSERT INTO TBL_BATCH(NAME,DESCRIPTION,FROM_DATE,TO_DATE,AMOUNT,TAX_ID,GST_AMOUNT,TOTAL_AMOUNT,IS_ACTIVE,NO_OF_DAYS)VALUES(@NAME,@DESCRIPTION,@FROM_DATE,@TO_DATE,@AMOUNT,@TAX_ID,@GST_AMOUNT,@TOTAL_AMOUNT,1,@NO_OF_DAYS)  
 SET @RowCount =  @@rowcount;  
  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_BATCH_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ADD_BATCH_MEMBER]            
@BATCH_MEMBER_MAPPING_ID INT,            
@MEMBERID INT,            
@BATCH_ID INT,            
@START_DATE VARCHAR(20),            
@END_DATE VARCHAR(20),            
@ADDED_BY INT,          
@PACKAGE_ID INT,    
@NEXT_FEES_DATETIME DATE,  
@RowCount INT OUTPUT             
AS            
BEGIN            
            
  IF(SELECT COUNT(*) FROM TBL_BATCH_MEMBER_MAPPING WITH(NOLOCK) WHERE MEMBERID=@MEMBERID AND BATCH_ID=@BATCH_ID) > 0            
  BEGIN            
  SET @RowCount =  0;            
  END            
  ELSE            
  BEGIN            
  INSERT INTO TBL_BATCH_MEMBER_MAPPING(MEMBERID,START_DATE,END_DATE,ADDED_BY,ADDED_DATETIME,IS_ACTIVE,BATCH_ID,BATCH_TIMING_ID,PACKAGE_ID,NEXT_FEES_DATETIME)VALUES 
  (@MEMBERID,@START_DATE,@END_DATE,@ADDED_BY,GETDATE(),0,@BATCH_ID,@BATCH_ID,@PACKAGE_ID,@NEXT_FEES_DATETIME)            
  SET @RowCount =  @@rowcount;            
  END            
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_BATCH_TIMING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ADD_BATCH_TIMING]  
@BATCH_ID INT,  
@TRAINER_ID INT,  
@ADDED_BY INT,  
@RowCount INT OUTPUT       
AS  
BEGIN  
  
 INSERT INTO TBL_BATCH_TIMING(BATCH_ID,TRAINER_ID,ADDED_BY,ADDED_BY_DATETIME)VALUES  
 (@BATCH_ID,@TRAINER_ID,@ADDED_BY,GETDATE())  
 SET @RowCount =  @@rowcount;   
  
END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_FEES]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        
CREATE PROCEDURE [dbo].[PROC_ADD_FEES]        
@MEMBER_ID INT,        
@PAID_AMOUNT DECIMAL(18,2),        
@TOTAL_AMOUNT DECIMAL(18,2),        
@PENDING_AMOUNT DECIMAL(18,2),        
@PAYMENT_ID INT,        
--@TRASACTION_NO VARCHAR(100),        
@ADDED_BY INT,  
@BATCH_ID INT,
@RowCount INT OUTPUT           
AS        
BEGIN        
SET NOCOUNT ON           
 BEGIN TRY                          
  BEGIN TRANSACTION;            
          
  DECLARE @CALCULATE_PENDING_AMOUNT DECIMAL(18,2),@TXN_ID VARCHAR(MAX),@TEMP_FEES_MEMBER_HISTORY_ID INT, @TransactionNumber NVARCHAR(50);       
          
  SET @CALCULATE_PENDING_AMOUNT = (        
        
    SELECT CASE WHEN FMM.PENDING_AMOUNT IS NULL THEN  (ISNULL(B.TOTAL_AMOUNT,0)  - ISNULL(@PAID_AMOUNT,0)) ELSE (ISNULL(FMM.PENDING_AMOUNT,0) - ISNULL(@PAID_AMOUNT,0)) END AS PENDING_AMOUNT FROM TBL_BATCH_MEMBER_MAPPING BMM WITH(NOLOCK)        
 INNER JOIN TBL_BATCH B WITH(NOLOCK) ON BMM.BATCH_ID = B.BATCH_ID        
 LEFT OUTER JOIN TBL_FEES_MEMBER_MAPPING FMM WITH(NOLOCK) ON BMM.MEMBERID = FMM.MEMBER_ID AND BMM.BATCH_ID = FMM.BATCH_ID        
 WHERE BMM.MEMBERID = @MEMBER_ID AND B.BATCH_ID = @BATCH_ID
        
 )        
        
  IF (SELECT COUNT(1) FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE MEMBER_ID = @MEMBER_ID AND BATCH_ID = @BATCH_ID) = 0         
  BEGIN        
  INSERT INTO TBL_FEES_MEMBER_MAPPING(MEMBER_ID,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,ADDED_BY,ADDED_BY_DATETIME,BATCH_ID)VALUES        
  (@MEMBER_ID,@PAID_AMOUNT,@TOTAL_AMOUNT,@CALCULATE_PENDING_AMOUNT,@PAYMENT_ID,@ADDED_BY,GETDATE(),@BATCH_ID)        
          
         
  SET @TEMP_FEES_MEMBER_HISTORY_ID=(SELECT ISNULL(MAX(FEES_MEMBER_HISTORY_ID),0) + 1 FROM TBL_FEES_MEMBER_HISTORY WITH(NOLOCK))        
  --SET @TXN_ID =(SELECT CONVERT(NVARCHAR(10), GETDATE(), 112) + RIGHT('0000' + CAST(ISNULL(@TEMP_FEES_MEMBER_HISTORY_ID,1) AS VARCHAR(10)), 4) PERSISTED FROM TBL_FEES_MEMBER_HISTORY WITH(NOLOCK))        
        
  SET @TransactionNumber =(SELECT  ('TRX' + REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR(19), GETDATE(), 120), '-', ''), ' ', ''), ':', '')))      
      
  INSERT INTO TBL_FEES_MEMBER_HISTORY(FEES_MEMBER_HISTORY_ID,MEMBER_ID,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,ADDED_BY,ADDED_BY_DATETIME,TRANSACTION_NO,TRANSACTION_DATETIME,BATCH_ID)VALUES        
  (@TEMP_FEES_MEMBER_HISTORY_ID,@MEMBER_ID,@PAID_AMOUNT,@TOTAL_AMOUNT,@CALCULATE_PENDING_AMOUNT,@PAYMENT_ID,@ADDED_BY,GETDATE(),@TransactionNumber,GETDATE(),@BATCH_ID)       
  UPDATE TBL_MEMBERS SET IS_ACTIVE = 1 WHERE MEMBERID = @MEMBER_ID    
  UPDATE TBL_BATCH_MEMBER_MAPPING SET IS_ACTIVE = 1 WHERE MEMBERID = @MEMBER_ID   
  SET @RowCount =  @@rowcount;          
 END        
 ELSE        
 BEGIN        
          
  UPDATE TBL_FEES_MEMBER_MAPPING SET PAID_AMOUNT=@PAID_AMOUNT,TOTAL_AMOUNT=@TOTAL_AMOUNT,PENDING_AMOUNT=@CALCULATE_PENDING_AMOUNT,PAYMENT_ID=@PAYMENT_ID,UPDATED_BY=@ADDED_BY,UPDATED_DATETIME=GETDATE()        
  WHERE MEMBER_ID =@MEMBER_ID AND BATCH_ID = @BATCH_ID     
          
  SET @TEMP_FEES_MEMBER_HISTORY_ID=(SELECT ISNULL(MAX(FEES_MEMBER_HISTORY_ID),0) + 1 FROM TBL_FEES_MEMBER_HISTORY WITH(NOLOCK))        
  --SET @TXN_ID =(SELECT CONVERT(NVARCHAR(10), GETDATE(), 112) + RIGHT('0000' + CAST(ISNULL(@TEMP_FEES_MEMBER_HISTORY_ID,0) AS NVARCHAR(10)), 4) PERSISTED FROM TBL_FEES_MEMBER_HISTORY)        
  SET @TransactionNumber = 'TRX' + REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR(19), GETDATE(), 120), '-', ''), ' ', ''), ':', '')      
  INSERT INTO TBL_FEES_MEMBER_HISTORY(FEES_MEMBER_HISTORY_ID,MEMBER_ID,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,ADDED_BY,ADDED_BY_DATETIME,TRANSACTION_NO,TRANSACTION_DATETIME,BATCH_ID)VALUES        
  (@TEMP_FEES_MEMBER_HISTORY_ID,@MEMBER_ID,@PAID_AMOUNT,@TOTAL_AMOUNT,@CALCULATE_PENDING_AMOUNT,@PAYMENT_ID,@ADDED_BY,GETDATE(),@TransactionNumber,GETDATE(),@BATCH_ID)        
  SET @RowCount =  @@rowcount;         
        
 END        
 COMMIT TRANSACTION;                          
  END TRY                          
  BEGIN CATCH                          
   IF @@TRANCOUNT > 0                          
   ROLLBACK TRANSACTION;                          
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE INSERT PAYMENT' + ERROR_MESSAGE();                            
   ;THROW 50000,@ERRORTEXT,1;                          
  END CATCH                  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
CREATE PROCEDURE [dbo].[PROC_ADD_MEMBER]        
@MEMBERID INT=0,        
@FIRSTNAME VARCHAR(50),        
@LASTNAME VARCHAR(50),        
@GENDER INT,         
@DATEOFBIRTH VARCHAR(50),        
@CONTACTNUMBER VARCHAR(15),        
@EMAIL VARCHAR(100),        
@ADDRESS VARCHAR(255),        
--@ADDED_DATE DATETIME,        
@ADDED_BY INT,   
@IMAGEDATA VARCHAR(MAX),  
@RowCount INT OUTPUT                
AS        
BEGIN        
 INSERT INTO TBL_MEMBERS(FIRSTNAME,LASTNAME,GENDER,DATEOFBIRTH,CONTACTNUMBER,EMAIL,ADDRESS,ADDED_DATE,ADDED_BY,IS_ACTIVE,IMAGEDATA)VALUES        
 (@FIRSTNAME,@LASTNAME,@GENDER,@DATEOFBIRTH,@CONTACTNUMBER,@EMAIL,@ADDRESS,GETDATE(),@ADDED_BY,0,@IMAGEDATA)        
 SET @RowCount =  @@rowcount;                        
        
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_PACKAGE_MANAGEMENT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ADD_PACKAGE_MANAGEMENT]
@TITLE VARCHAR(50),
@DESCRIPTION VARCHAR(500),
@FEES DECIMAL(18,2),
@TAX_ID INT,
@ADDED_BY INT,
@TOTAL_FEES DECIMAL(18,2),
@RowCount INT OUTPUT   
AS
BEGIN

	INSERT INTO TBL_PACKAGE_MANAGEMENT(TITLE,DESCRIPTION,FEES,TAX_ID,ADDED_BY,TOTAL_FEES,ADDED_BY_DATETIME,IS_ACTIVE)VALUES
	(@TITLE,@DESCRIPTION,@FEES,@TAX_ID,@ADDED_BY,@TOTAL_FEES,GETDATE(),1)
	SET @RowCount =  @@rowcount;  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_TRAINER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_ADD_TRAINER]  
@FIRSTNAME VARCHAR(50),  
@LASTNAME VARCHAR(50),  
@GENDER INT,  
@CONTACTNUMBER VARCHAR(15),  
@EMAIL VARCHAR(100),  
@SPECIALIZATION_ID INT,  
@ADDED_BY INT,  
@DATEOFBIRTH DATE,  
@ADDRESS VARCHAR(100),  
@RowCount INT OUTPUT     
AS  
BEGIN  
  
	 INSERT INTO TBL_TRAINERS(FIRSTNAME,LASTNAME,GENDER,CONTACTNUMBER,EMAIL,SPECIALIZATION,ADDED_BY,ADDED_DATETIME,IS_ACTIVE,DATEOFBIRTH,ADDRESS)VALUES  
	 (@FIRSTNAME,@LASTNAME,@GENDER,@CONTACTNUMBER,@EMAIL,@SPECIALIZATION_ID,@ADDED_BY,GETDATE(),1,@DATEOFBIRTH,@ADDRESS)  
	 SET @RowCount =  @@rowcount;    
 
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_BATCH_TIMING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_DELETE_BATCH_TIMING]  
@BATCH_TIMING_ID INT,  
@RowCount INT OUTPUT     
AS  
BEGIN  
  
  UPDATE TBL_BATCH_TIMING SET IS_DELETED=1 WHERE BATCH_TIMING_ID = @BATCH_TIMING_ID  
  SET @RowCount =  @@rowcount;   
END

GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ALL_COUNT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
CREATE PROCEDURE [dbo].[PROC_GET_ALL_COUNT]      
AS      
      
BEGIN      
  SELECT 0 AS 'DAILY_ENQUIRY',  
  (SELECT COUNT(*) FROM TBL_MEMBERS WHERE CAST(ADDED_DATE AS DATE) = CAST(ADDED_DATE AS DATE)  AND IS_ACTIVE =1)AS 'TODAY_REGISTERED_MEMBER',   
  0 AS 'DAILY_ENQUIRY',  
  (SELECT COUNT(*) FROM TBL_MEMBERS WHERE IS_ACTIVE =1)AS 'REGISTERED_MEMBER',      
  (      
  SELECT COUNT(*)       
  FROM TBL_MEMBERS      
  WHERE MONTH(DATEOFBIRTH) = MONTH(GETDATE())      
  AND DAY(DATEOFBIRTH) = DAY(GETDATE()) AND IS_ACTIVE =1      
  )AS 'TODAYS_BIRTHDAY',      
  (    
  SELECT ISNULL(SUM(PAID_AMOUNT),0) FROM TBL_FEES_MEMBER_HISTORY FM WITH(NOLOCK)    
  WHERE CAST(TRANSACTION_DATETIME AS date) = CAST(GETDATE() AS DATE)  
  ) AS 'TODAY_FEES_COLLECTION',      
  0 AS 'PRESENT_MEMBER',  
  (SELECT COUNT(*) FROM TBL_BATCH WITH(NOLOCK) WHERE ISNULL(IS_ACTIVE,0) = 1)AS 'TOTAL_BATCHES',  
  (SELECT COUNT(*) FROM TBL_TRAINERS WITH(NOLOCK) WHERE ISNULL(IS_ACTIVE,0) = 1)AS 'TOTAL_TRAINERS',  
  (SELECT COUNT(*) FROM TBL_PACKAGE_MANAGEMENT WITH(NOLOCK) WHERE ISNULL(IS_ACTIVE,0) = 1)AS 'TOTAL_PACKAGE',
  (
  SELECT COUNT(*)AS FEES_UNPAID FROM TBL_BATCH_MEMBER_MAPPING BM WITH(NOLOCK) 
  INNER JOIN TBL_FEES_MEMBER_MAPPING FMH WITH(NOLOCK) ON BM.MEMBERID = FMH.MEMBER_ID AND BM.BATCH_ID = FMH.BATCH_ID
  WHERE CAST(NEXT_FEES_DATETIME AS DATE) <  CAST(GETDATE() AS DATE) AND BM.IS_ACTIVE = 1
  )AS 'FEES_UNPAID'
END 

GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_BATCH]    
@BATCH_ID INT=0,    
@SORTCOLUMN VARCHAR(50)='BATCH_ID',                          
@SORTORDER VARCHAR(50)='asc',                            
@OFFSETVALUE INT=0,                             
@PAGINGSIZE INT=10,                          
@SEARCHTEXT VARCHAR(50)=NULL     
AS    
BEGIN    
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE    
    
     
;WITH CTE AS(    
 SELECT BATCH_ID,NAME,DESCRIPTION,FROM_DATE,TO_DATE,AMOUNT,B.TAX_ID,T.TAX_NAME AS TAX_NAME,GST_AMOUNT,TOTAL_AMOUNT,NO_OF_DAYS FROM TBL_BATCH B WITH(NOLOCK)   
 INNER JOIN TBL_TAX_MASTER T WITH(NOLOCK) ON B.TAX_ID = T.TAX_ID  
 WHERE B.IS_ACTIVE=1    
 AND ((@BATCH_ID=0) OR (BATCH_ID=@BATCH_ID))      
)            
 SELECT * INTO #TBL_BATCH FROM CTE      
                  
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,BATCH_ID,NAME,FORMAT(FROM_DATE,'dd/MM/yyyy')AS FROM_DATE,FORMAT(TO_DATE,'dd/MM/yyyy')AS TO_DATE,DESCRIPTION,AMOUNT,TAX_ID,TAX_NAME,GST_AMOUNT,TOTAL_AMOUNT,ISNULL(NO_OF_DAYS,0)AS NO_OF_DAYS   
 FROM #TBL_BATCH WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR BATCH_ID LIKE '%' + @SEARCHTEXT + '%'                     
 OR NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR DESCRIPTION LIKE '%' + @SEARCHTEXT + '%'   
 OR DESCRIPTION LIKE '%' + TAX_NAME + '%'     
)                  
ORDER BY                  
                  
CASE WHEN (@SORTCOLUMN = 'BATCH_ID' AND @SORTORDER ='ASC') THEN  BATCH_ID END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'BATCH_ID' AND @SORTORDER ='DESC') THEN  BATCH_ID END DESC,                  
CASE WHEN (@SORTCOLUMN = 'NAME' AND @SORTORDER ='ASC') THEN  NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'NAME' AND @SORTORDER ='DESC') THEN  NAME END DESC,    
CASE WHEN (@SORTCOLUMN = 'DESCRIPTION' AND @SORTORDER ='ASC') THEN  DESCRIPTION END ASC,                               
CASE WHEN (@SORTCOLUMN = 'DESCRIPTION' AND @SORTORDER ='DESC') THEN  DESCRIPTION END DESC,  
CASE WHEN (@SORTCOLUMN = 'TAX_NAME' AND @SORTORDER ='ASC') THEN  TAX_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TAX_NAME' AND @SORTORDER ='DESC') THEN  TAX_NAME END DESC    
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_BATCH;                  
    
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_BY_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_BATCH_BY_MEMBER]
@MEMBERID INT=0
AS
BEGIN
	SELECT B.BATCH_ID,(B.NAME +' '+ CAST(ROUND(CAST(TOTAL_AMOUNT AS decimal),0) AS VARCHAR) +' /-' )AS BATCH_NAME FROM TBL_BATCH_MEMBER_MAPPING BM WITH(NOLOCK)
	INNER JOIN TBL_BATCH B WITH(NOLOCK) ON BM.BATCH_ID = B.BATCH_ID
	WHERE MEMBERID = @MEMBERID
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_BATCH_LIST]
AS
BEGIN
SELECT BATCH_ID,NAME FROM TBL_BATCH WITH(NOLOCK) WHERE IS_ACTIVE=1
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
          
CREATE PROCEDURE [dbo].[PROC_GET_BATCH_MEMBER]          
@BATCH_MEMBER_MAPPING_ID INT=0,          
@SORTCOLUMN VARCHAR(50)='BATCH_MEMBER_MAPPING_ID',                                
@SORTORDER VARCHAR(50)='DESC',                                  
@OFFSETVALUE INT=0,                                   
@PAGINGSIZE INT=10,                                
@SEARCHTEXT VARCHAR(50)=NULL           
AS          
BEGIN          
SET NOCOUNT ON                                        
                                
 DECLARE @FIRSTREC INT, @LASTREC INT                                    
 SET @FIRSTREC =   @OFFSETVALUE ;                                
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE          
          
;WITH CTE_1 AS(        
SELECT BATCH_TIMING_ID,BATCH_ID FROM TBL_BATCH_TIMING         
),         
CTE AS(          
        
        
SELECT BATCH_MEMBER_MAPPING_ID,M.MEMBERID,(M.FIRSTNAME +' '+ M.LASTNAME)AS MEMBERNAME,A.BATCH_ID,B.NAME AS BATCHNAME,START_DATE,END_DATE,A.ADDED_BY,A.ADDED_DATETIME,ISNULL(A.IS_ACTIVE,0)AS IS_ACTIVE,PACKAGE_ID,IS_ON_HOLD,ISNULL(FORMAT(NEXT_FEES_DATETIME,'dd/MM/yyyy'),'-')AS NEXT_FEES_DATETIME     
FROM TBL_BATCH_MEMBER_MAPPING A WITH(NOLOCK)        
INNER JOIN TBL_MEMBERS M WITH(NOLOCK) ON A.MEMBERID = M.MEMBERID        
INNER JOIN TBL_BATCH B WITH(NOLOCK) ON A.BATCH_ID = B.BATCH_ID      
--INNER JOIN CTE_1 CT1 ON A.BATCH_TIMING_ID = CT1.BATCH_TIMING_ID        
--WHERE A.IS_ACTIVE =1        
        
 AND ((@BATCH_MEMBER_MAPPING_ID=0) OR (BATCH_MEMBER_MAPPING_ID=@BATCH_MEMBER_MAPPING_ID))            
)                  
 SELECT * INTO #TBL_BATCH FROM CTE            
                        
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                         
 COUNT(1) OVER() AS TOTALCOUNT,BATCH_MEMBER_MAPPING_ID,MEMBERID,MEMBERNAME,BATCH_ID,BATCHNAME,FORMAT(START_DATE,'dd/MM/yyyy')AS START_DATE,FORMAT(END_DATE,'dd/MM/yyyy')AS END_DATE,ADDED_BY,ADDED_DATETIME,IS_ACTIVE,PACKAGE_ID,IS_ON_HOLD,NEXT_FEES_DATETIME 
                
 FROM #TBL_BATCH WITH(NOLOCK)                         
WHERE                                             
(                        
 @SEARCHTEXT IS NULL                           
 OR BATCH_MEMBER_MAPPING_ID LIKE '%' + @SEARCHTEXT + '%'                           
 OR MEMBERID LIKE '%' + @SEARCHTEXT + '%'                           
 OR MEMBERNAME LIKE '%' + @SEARCHTEXT + '%'            
 OR BATCH_ID LIKE '%' + @SEARCHTEXT + '%'            
 OR BATCHNAME LIKE '%' + @SEARCHTEXT + '%'            
 OR START_DATE LIKE '%' + @SEARCHTEXT + '%'            
 OR END_DATE LIKE '%' + @SEARCHTEXT + '%'            
)                        
ORDER BY                        
                        
CASE WHEN (@SORTCOLUMN = 'BATCH_MEMBER_MAPPING_ID' AND @SORTORDER ='ASC') THEN  BATCH_MEMBER_MAPPING_ID END ASC,                                              
CASE WHEN (@SORTCOLUMN = 'BATCH_MEMBER_MAPPING_ID' AND @SORTORDER ='DESC') THEN  BATCH_MEMBER_MAPPING_ID END DESC,                        
CASE WHEN (@SORTCOLUMN = 'MEMBERID' AND @SORTORDER ='ASC') THEN  MEMBERID END ASC,                                     
CASE WHEN (@SORTCOLUMN = 'MEMBERID' AND @SORTORDER ='DESC') THEN  MEMBERID END DESC,          
CASE WHEN (@SORTCOLUMN = 'MEMBERNAME' AND @SORTORDER ='ASC') THEN  MEMBERNAME END ASC,                                     
CASE WHEN (@SORTCOLUMN = 'MEMBERNAME' AND @SORTORDER ='DESC') THEN  MEMBERNAME END DESC,          
CASE WHEN (@SORTCOLUMN = 'BATCHNAME' AND @SORTORDER ='ASC') THEN  BATCHNAME END ASC,                                     
CASE WHEN (@SORTCOLUMN = 'BATCHNAME' AND @SORTORDER ='DESC') THEN  BATCHNAME END DESC,          
CASE WHEN (@SORTCOLUMN = 'START_DATE' AND @SORTORDER ='ASC') THEN  START_DATE END ASC,                                     
CASE WHEN (@SORTCOLUMN = 'START_DATE' AND @SORTORDER ='DESC') THEN  START_DATE END DESC,          
CASE WHEN (@SORTCOLUMN = 'END_DATE' AND @SORTORDER ='ASC') THEN  END_DATE END ASC,                                     
CASE WHEN (@SORTCOLUMN = 'END_DATE' AND @SORTORDER ='DESC') THEN  END_DATE END DESC          
OFFSET @FIRSTREC ROWS                          
FETCH NEXT @PAGINGSIZE ROWS ONLY                        
                         
DROP TABLE  #TBL_BATCH;                        
          
END          
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_NO_DAYS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_BATCH_NO_DAYS]
@BATCH_ID INT=0
AS
BEGIN

	SELECT NO_OF_DAYS FROM TBL_BATCH WITH(NOLOCK) WHERE BATCH_ID = @BATCH_ID

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_SCHEDULED_DATETIME_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[PROC_GET_BATCH_SCHEDULED_DATETIME_LIST]    
AS    
BEGIN    

	--SELECT BATCH_TIMING_ID,(B.NAME +' '+ ((CAST(FORMAT(A.FROM_DATE,'dd-MM-yyyy') AS VARCHAR)+ ' ' + CAST(A.FROM_TIME AS CHAR(5))) +' TO '+     
	--(CAST(FORMAT(A.TO_DATE,'dd-MM-yyyy') AS VARCHAR)+ ' ' + CAST(TO_TIME AS CHAR(5)))    
	--))AS BATCH_NAME,((CAST(FORMAT(A.FROM_DATE,'dd-MM-yyyy') AS VARCHAR)+ ' ' + CAST(A.FROM_TIME AS CHAR(5))) +' TO '+     
	--(CAST(B.TO_DATE AS VARCHAR)+ ' ' + CAST(A.TO_TIME AS CHAR(5)))    
	--)AS BATCH_DATETIME FROM TBL_BATCH_TIMING A WITH(NOLOCK)    
	--INNER JOIN TBL_BATCH B WITH(NOLOCK) ON A.BATCH_ID = B.BATCH_ID    
	SELECT BATCH_ID AS BATCH_TIMING_ID,(NAME +' Rs.'+ CAST(TOTAL_AMOUNT AS VARCHAR) +'/-' )AS BATCH_NAME,'' AS BATCH_DATETIME FROM TBL_BATCH WITH(NOLOCK) 
	WHERE IS_ACTIVE = 1  
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_TIMIING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_GET_BATCH_TIMIING]  
@BATCH_TIMING_ID INT=0,  
@SORTCOLUMN VARCHAR(50)='BATCH_TIMING_ID',                          
@SORTORDER VARCHAR(50)='asc',                            
@OFFSETVALUE INT=0,                             
@PAGINGSIZE INT=10,                          
@SEARCHTEXT VARCHAR(50)=null   
AS  
BEGIN  
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE    
    
;WITH CTE AS(    
 SELECT A.BATCH_TIMING_ID,A.BATCH_ID,B.NAME AS BATCH_NAME,A.TRAINER_ID,(T.FIRSTNAME +' '+ LASTNAME)AS TRAINER_NAME,B.FROM_DATE,B.TO_DATE,FROM_TIME,TO_TIME,A.ADDED_BY,ADDED_BY_DATETIME  
 FROM TBL_BATCH_TIMING A WITH(NOLOCK)   
 INNER JOIN TBL_BATCH B WITH(NOLOCK) ON A.BATCH_ID = B.BATCH_ID  
 INNER JOIN TBL_TRAINERS T WITH(NOLOCK) ON T.TRAINER_ID = A.TRAINER_ID  
 WHERE ((@BATCH_TIMING_ID=0) OR (A.BATCH_ID=@BATCH_TIMING_ID))      
)            
 SELECT * INTO #TBL_BATCH_TIMING FROM CTE       
                   
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,                  
 BATCH_TIMING_ID,BATCH_ID,BATCH_NAME,TRAINER_ID,TRAINER_NAME,FORMAT(FROM_DATE,'dd/MM/yyyy')AS FROM_DATE,FORMAT(TO_DATE,'dd/MM/yyyy')AS TO_DATE,FROM_TIME,TO_TIME,ADDED_BY,ADDED_BY_DATETIME                 
 FROM #TBL_BATCH_TIMING WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR BATCH_NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR TRAINER_NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR FROM_DATE LIKE '%' + @SEARCHTEXT + '%'                         
 OR TO_DATE  LIKE '%' + @SearchText + '%'                   
 OR FROM_TIME  LIKE '%' + @SearchText + '%'                   
 OR TO_TIME  LIKE '%' + @SearchText + '%'                   
 OR ADDED_BY  LIKE '%' + @SearchText + '%'                   
 OR ADDED_BY_DATETIME  LIKE '%' + @SearchText + '%'         
)                  
ORDER BY                  
CASE WHEN (@SORTCOLUMN = 'BATCH_TIMING_ID' AND @SORTORDER ='ASC') THEN  BATCH_TIMING_ID END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'BATCH_TIMING_ID' AND @SORTORDER ='DESC') THEN  BATCH_TIMING_ID END DESC,               
CASE WHEN (@SORTCOLUMN = 'BATCH_NAME' AND @SORTORDER ='ASC') THEN  BATCH_NAME END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'BATCH_NAME' AND @SORTORDER ='DESC') THEN  BATCH_NAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'TRAINER_NAME' AND @SORTORDER ='ASC') THEN  TRAINER_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TRAINER_NAME' AND @SORTORDER ='DESC') THEN  TRAINER_NAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'FROM_DATE' AND @SORTORDER ='ASC') THEN  FROM_DATE END ASC,                               
CASE WHEN (@SORTCOLUMN = 'FROM_DATE' AND @SORTORDER ='DESC') THEN  FROM_DATE END DESC,                    
CASE WHEN (@SORTCOLUMN = 'TO_DATE' AND @SORTORDER ='ASC') THEN  TO_DATE END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TO_DATE' AND @SORTORDER ='DESC') THEN  TO_DATE END DESC,                  
CASE WHEN (@SORTCOLUMN = 'FROM_TIME' AND @SORTORDER ='ASC') THEN  FROM_TIME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'FROM_TIME' AND @SORTORDER ='DESC') THEN  FROM_TIME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'TO_TIME' AND @SORTORDER ='ASC') THEN  TO_TIME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TO_TIME' AND @SORTORDER ='DESC') THEN  TO_TIME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'ADDED_BY' AND @SORTORDER ='ASC') THEN  ADDED_BY END ASC,                               
CASE WHEN (@SORTCOLUMN = 'ADDED_BY' AND @SORTORDER ='DESC') THEN  ADDED_BY END DESC  
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_BATCH_TIMING;     
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_BATCH_TIMING_COUNT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_GET_BATCH_TIMING_COUNT]  
@BATCH_ID INT=0,  
@SORTCOLUMN VARCHAR(50)='BATCH_NAME',                          
@SORTORDER VARCHAR(50)='ASC',                            
@OFFSETVALUE INT=0,                             
@PAGINGSIZE INT=10,                          
@SEARCHTEXT VARCHAR(50)=NULL   
AS  
BEGIN  
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE    
  
 ;WITH CTE AS(  
   
 SELECT A.BATCH_ID,B.NAME AS BATCH_NAME,A.TRAINER_ID,(T.FIRSTNAME +' '+ LASTNAME )AS TRAINER_NAME,0 AS _NO_OF_BATCH_COUNT
 ,BATCH_TIMING_ID
 FROM TBL_BATCH_TIMING A WITH(NOLOCK)  
 INNER JOIN TBL_BATCH B WITH(NOLOCK) ON A.BATCH_ID = B.BATCH_ID   
 INNER JOIN TBL_TRAINERS T WITH(NOLOCK) ON T.TRAINER_ID = A.TRAINER_ID WHERE A.IS_DELETED = 0
 --GROUP BY A.BATCH_ID,B.NAME,A.TRAINER_ID,T.FIRSTNAME,T.LASTNAME  
 ) SELECT * INTO #TBL_BATCH_TIMING FROM CTE       
  
                  
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,                  
 BATCH_ID,BATCH_NAME,TRAINER_ID,TRAINER_NAME,_NO_OF_BATCH_COUNT,BATCH_TIMING_ID            
 FROM #TBL_BATCH_TIMING WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR BATCH_NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR TRAINER_NAME LIKE '%' + @SEARCHTEXT + '%'   
 OR _NO_OF_BATCH_COUNT LIKE '%' + @SEARCHTEXT + '%'    
)                  
ORDER BY                  
                  
CASE WHEN (@SORTCOLUMN = 'BATCH_NAME' AND @SORTORDER ='ASC') THEN  BATCH_NAME END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'BATCH_NAME' AND @SORTORDER ='DESC') THEN  BATCH_NAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'TRAINER_NAME' AND @SORTORDER ='ASC') THEN  TRAINER_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TRAINER_NAME' AND @SORTORDER ='DESC') THEN  TRAINER_NAME END DESC,  
CASE WHEN (@SORTCOLUMN = '_NO_OF_BATCH_COUNT' AND @SORTORDER ='ASC') THEN  _NO_OF_BATCH_COUNT END ASC,                               
CASE WHEN (@SORTCOLUMN = '_NO_OF_BATCH_COUNT' AND @SORTORDER ='DESC') THEN  _NO_OF_BATCH_COUNT END DESC  
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_BATCH_TIMING;     
  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_FEES_DETAILS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_GET_FEES_DETAILS 0,'MEMBER_ID','asc',0,10,NULL
CREATE PROCEDURE [dbo].[PROC_GET_FEES_DETAILS]
@FEES_MEMBER_HISTORY_ID INT,
@SORTCOLUMN VARCHAR(50)='MEMBER_ID',                          
@SORTORDER VARCHAR(50)='asc',                            
@OFFSETVALUE INT=0,                             
@PAGINGSIZE INT=10,                          
@SEARCHTEXT VARCHAR(50)=NULL     
AS
BEGIN
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE   
 
;WITH CTE AS(    
 SELECT FEES_MEMBER_HISTORY_ID,MEMBER_ID,(MB.FIRSTNAME +' '+ MB.LASTNAME )AS MEMBER_NAME,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,FB.PAYMENT_ID,PT.TYPE_NAME,FB.TRANSACTION_NO,FB.ADDED_BY,FB.ADDED_BY_DATETIME,FB.TRANSACTION_DATETIME FROM TBL_FEES_MEMBER_HISTORY FB WITH(NOLOCK)
 INNER JOIN TBL_MEMBERS MB WITH(NOLOCK) ON FB.MEMBER_ID = MB.MEMBERID
  INNER JOIN PAYMENT_TYPE PT WITH(NOLOCK) ON PT.PAYMENT_ID = FB.PAYMENT_ID
 WHERE ((@FEES_MEMBER_HISTORY_ID=0) OR (FEES_MEMBER_HISTORY_ID=@FEES_MEMBER_HISTORY_ID))      
)            
 SELECT * INTO #TBL_FEES_MEMBER_HISTORY FROM CTE    

                
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,FEES_MEMBER_HISTORY_ID,MEMBER_ID,MEMBER_NAME,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,TYPE_NAME,TRANSACTION_NO,ADDED_BY,ADDED_BY_DATETIME,
 TRANSACTION_DATETIME
 FROM #TBL_FEES_MEMBER_HISTORY WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR MEMBER_ID LIKE '%' + @SEARCHTEXT + '%'                     
 OR MEMBER_NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR TYPE_NAME LIKE '%' + @SEARCHTEXT + '%' 
 OR TRANSACTION_NO LIKE '%' + @SEARCHTEXT + '%'   
)                  
ORDER BY                  
                  
CASE WHEN (@SORTCOLUMN = 'MEMBER_ID' AND @SORTORDER ='ASC') THEN  MEMBER_ID END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'MEMBER_ID' AND @SORTORDER ='DESC') THEN  MEMBER_ID END DESC,                  
CASE WHEN (@SORTCOLUMN = 'MEMBER_NAME' AND @SORTORDER ='ASC') THEN  MEMBER_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'MEMBER_NAME' AND @SORTORDER ='DESC') THEN  MEMBER_NAME END DESC,    
CASE WHEN (@SORTCOLUMN = 'TYPE_NAME' AND @SORTORDER ='ASC') THEN  TYPE_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TYPE_NAME' AND @SORTORDER ='DESC') THEN  TYPE_NAME END DESC ,
CASE WHEN (@SORTCOLUMN = 'TRANSACTION_NO' AND @SORTORDER ='ASC') THEN  TRANSACTION_NO END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TRANSACTION_NO' AND @SORTORDER ='DESC') THEN  TRANSACTION_NO END DESC 
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_FEES_MEMBER_HISTORY;       


END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_GENDER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_GENDER]
AS
BEGIN
SELECT SEX_ID,SEX FROM TBL_SEX WITH(NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
--EXEC PROC_GET_MEMBER 0,'MEMBERID','ASC',0,10,NULL    
CREATE  PROCEDURE [dbo].[PROC_GET_MEMBER]      
@MEMBERID INT=0 ,    
@SORTCOLUMN VARCHAR(50),                          
@SORTORDER VARCHAR(50),                            
@OFFSETVALUE INT,                             
@PAGINGSIZE INT,                          
@SEARCHTEXT VARCHAR(50)      
AS      
BEGIN      
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE    
    
;WITH CTE AS(    
 SELECT MEMBERID,FIRSTNAME,LASTNAME,GENDER AS GENDER_ID,B.SEX AS GENDER,FORMAT(DATEOFBIRTH,'dd/MM/yyyy')AS DATEOFBIRTH,CONTACTNUMBER,EMAIL,ADDRESS,FORMAT(ADDED_DATE,'dd/MM/yyyy')AS ADDED_DATE,ADDED_BY,ISNULL(IMAGEDATA,'-')AS IMAGEDATA,ISNULL(IS_ACTIVE,0)AS IS_ACTIVE     
 FROM TBL_MEMBERS A WITH(NOLOCK)      
 INNER JOIN TBL_SEX B WITH(NOLOCK) ON A.GENDER=B.SEX_ID    
 WHERE ((@MEMBERID=0) OR (MEMBERID=@MEMBERID))      
)            
 SELECT * INTO #TBL_MEMBER_MASTER FROM CTE         
                   
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,                  
 MEMBERID,FIRSTNAME,LASTNAME,GENDER_ID,GENDER,DATEOFBIRTH,CONTACTNUMBER,EMAIL,ADDRESS,ADDED_DATE,ADDED_BY,IMAGEDATA,IS_ACTIVE                   
 FROM #TBL_MEMBER_MASTER WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR FIRSTNAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR LASTNAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR GENDER LIKE '%' + @SEARCHTEXT + '%'                         
 OR DATEOFBIRTH  LIKE '%' + @SearchText + '%'                   
 OR CONTACTNUMBER  LIKE '%' + @SearchText + '%'                   
 OR EMAIL  LIKE '%' + @SearchText + '%'                   
 OR ADDRESS  LIKE '%' + @SearchText + '%'                   
 OR ADDED_DATE  LIKE '%' + @SearchText + '%'                  
 OR ADDED_BY  LIKE '%' + @SearchText + '%'                  
)                  
ORDER BY                  
                  
CASE WHEN (@SORTCOLUMN = 'FIRSTNAME' AND @SORTORDER ='ASC') THEN  FIRSTNAME END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'FIRSTNAME' AND @SORTORDER ='DESC') THEN  FIRSTNAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'LASTNAME' AND @SORTORDER ='ASC') THEN  LASTNAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'LASTNAME' AND @SORTORDER ='DESC') THEN  LASTNAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'GENDER' AND @SORTORDER ='ASC') THEN  GENDER END ASC,                               
CASE WHEN (@SORTCOLUMN = 'GENDER' AND @SORTORDER ='DESC') THEN  GENDER END DESC,                    
CASE WHEN (@SORTCOLUMN = 'DATEOFBIRTH' AND @SORTORDER ='ASC') THEN  DATEOFBIRTH END ASC,                               
CASE WHEN (@SORTCOLUMN = 'DATEOFBIRTH' AND @SORTORDER ='DESC') THEN  DATEOFBIRTH END DESC,                  
CASE WHEN (@SORTCOLUMN = 'CONTACTNUMBER' AND @SORTORDER ='ASC') THEN  CONTACTNUMBER END ASC,                               
CASE WHEN (@SORTCOLUMN = 'CONTACTNUMBER' AND @SORTORDER ='DESC') THEN  CONTACTNUMBER END DESC,                  
CASE WHEN (@SORTCOLUMN = 'EMAIL' AND @SORTORDER ='ASC') THEN  EMAIL END ASC,                               
CASE WHEN (@SORTCOLUMN = 'EMAIL' AND @SORTORDER ='DESC') THEN  EMAIL END DESC,                  
CASE WHEN (@SORTCOLUMN = 'ADDRESS' AND @SORTORDER ='ASC') THEN  ADDRESS END ASC,                               
CASE WHEN (@SORTCOLUMN = 'ADDRESS' AND @SORTORDER ='DESC') THEN  ADDRESS END DESC,                  
CASE WHEN (@SORTCOLUMN = 'ADDED_DATE' AND @SORTORDER ='ASC') THEN  ADDED_DATE END ASC,                               
CASE WHEN (@SORTCOLUMN = 'ADDED_DATE' AND @SORTORDER ='DESC') THEN  ADDED_DATE END DESC    
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_MEMBER_MASTER;                  
    
    
END 
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MEMBER_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_MEMBER_LIST]
AS
BEGIN
SELECT MEMBERID,(FIRSTNAME +' '+ LASTNAME) AS NAME FROM TBL_MEMBERS WITH(NOLOCK) WHERE IS_ACTIVE=1
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MENU_BY_ROLE]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_MENU_BY_ROLE]
@USER_ID INT
AS
BEGIN

 DECLARE @TEM_USER_LOGIN_DETAILS AS TABLE                                  
 (                                 
  USER_ID VARCHAR(50),              
  USER_NAME VARCHAR(50),  
  ROLE_ID INT ,              
  ROLE_NAME VARCHAR(50)    
 )       
                     
 INSERT INTO @TEM_USER_LOGIN_DETAILS                      
 SELECT USER_ID,USER_NAME,A.ROLE_ID,C.ROLE_NAME
 FROM USER_LOGIN_MASTER A WITH(NOLOCK)       
 INNER JOIN ROLE_MASTER C  WITH(NOLOCK) ON A.ROLE_ID=C.ROLE_ID       
 WHERE USER_ID = @USER_ID        


 ;WITH CTE AS    
 (    
  SELECT DISTINCT PARENT_MENU_ID     
  FROM TBL_ROLE_MENU_MAP R  WITH(NOLOCK) INNER JOIN TBL_MENU M  WITH(NOLOCK) ON R.MENU_ID = M.MENU_ID    
  WHERE R.ROLE_ID = (SELECT ROLE_ID FROM @TEM_USER_LOGIN_DETAILS)    
  AND R.IS_ENABLE = 1 AND M.IS_ACTIVE = 1    
 ),CTE_A AS    
 (    
  SELECT MENU_ID,MENU_NAME, ISNULL(PARENT_MENU_ID,0) PARENT_MENU_ID,ICON_CSS_NAME,SEQ_NO,MENU_URL,    
  LTRIM(RTRIM(MNU_ACTION)) MNU_ACTION ,LTRIM(RTRIM(MENU_CONTROLLER)) MENU_CONTROLLER,LTRIM(RTRIM(MENU_AREA)) MENU_AREA,IS_POPUP_UP,    
  NULL IS_ADD_ACCESS,NULL IS_EDIT_ACCESS, NULL IS_DELETE_ACCESS    
  FROM TBL_MENU WITH(NOLOCK)  WHERE  MENU_ID IN (SELECT PARENT_MENU_ID FROM CTE)    
 ),CTE_B AS    
 (     
  SELECT R.MENU_ID,MENU_NAME, ISNULL(PARENT_MENU_ID,0) PARENT_MENU_ID,ICON_CSS_NAME,SEQ_NO,MENU_URL,    
  LTRIM(RTRIM(MNU_ACTION)) MNU_ACTION ,LTRIM(RTRIM(MENU_CONTROLLER)) MENU_CONTROLLER,LTRIM(RTRIM(MENU_AREA)) MENU_AREA,IS_POPUP_UP,    
  IS_ADD_ACCESS,IS_EDIT_ACCESS,IS_DELETE_ACCESS    
  FROM TBL_ROLE_MENU_MAP R  WITH(NOLOCK) INNER JOIN TBL_MENU M WITH(NOLOCK)  ON R.MENU_ID = M.MENU_ID    
  WHERE R.ROLE_ID = (SELECT ROLE_ID FROM @TEM_USER_LOGIN_DETAILS)    
  AND R.IS_ENABLE = 1 AND M.IS_ACTIVE = 1    
  UNION    
  SELECT * FROM CTE_A    
 )    
 SELECT * FROM CTE_B    
 ORDER BY SEQ_NO  

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PACKAGE_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PACKAGE_LIST]
AS
BEGIN

SELECT PACKAGE_ID,(TITLE +' Rs.'+ CAST(FEES AS VARCHAR)+' /-')AS TITLE  FROM TBL_PACKAGE_MANAGEMENT WITH(NOLOCK)

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PACKAGE_MANAGEMENT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_PACKAGE_MANAGEMENT]
@PACKAGE_ID INT=0,
@SORTCOLUMN VARCHAR(50)='TITLE',                        
@SORTORDER VARCHAR(50)='ASC',                          
@OFFSETVALUE INT=0,                           
@PAGINGSIZE INT=10,                        
@SEARCHTEXT VARCHAR(50)=NULL 
AS
BEGIN
SET NOCOUNT ON                                
                        
 DECLARE @FIRSTREC INT, @LASTREC INT                            
 SET @FIRSTREC =   @OFFSETVALUE ;                        
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE  

	;WITH CTE AS(
				SELECT PACKAGE_ID,TITLE,DESCRIPTION,FEES,P.TAX_ID,T.TAX_NAME,TOTAL_FEES FROM TBL_PACKAGE_MANAGEMENT P WITH(NOLOCK)
				INNER JOIN TBL_TAX_MASTER T WITH(NOLOCK) ON P.TAX_ID = T.TAX_ID
		) SELECT * INTO #TBL_PACKAGE_MANAGEMENT FROM CTE    
	
	            
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                 
 COUNT(1) OVER() AS TOTALCOUNT,                
 PACKAGE_ID,TITLE,DESCRIPTION,FEES,TAX_ID,TAX_NAME,TOTAL_FEES        
 FROM #TBL_PACKAGE_MANAGEMENT WITH(NOLOCK)                 
WHERE                                     
(                
 @SEARCHTEXT IS NULL                   
 OR TITLE LIKE '%' + @SEARCHTEXT + '%'                   
 OR DESCRIPTION LIKE '%' + @SEARCHTEXT + '%' 
 OR TAX_NAME LIKE '%' + @SEARCHTEXT + '%' 
)                
ORDER BY                
                
CASE WHEN (@SORTCOLUMN = 'TITLE' AND @SORTORDER ='ASC') THEN  TITLE END ASC,                                      
CASE WHEN (@SORTCOLUMN = 'TITLE' AND @SORTORDER ='DESC') THEN  TITLE END DESC,                
CASE WHEN (@SORTCOLUMN = 'DESCRIPTION' AND @SORTORDER ='ASC') THEN  DESCRIPTION END ASC,                             
CASE WHEN (@SORTCOLUMN = 'DESCRIPTION' AND @SORTORDER ='DESC') THEN  DESCRIPTION END DESC,
CASE WHEN (@SORTCOLUMN = 'TAX_NAME' AND @SORTORDER ='ASC') THEN  TAX_NAME END ASC,                             
CASE WHEN (@SORTCOLUMN = 'TAX_NAME' AND @SORTORDER ='DESC') THEN  TAX_NAME END DESC
OFFSET @FIRSTREC ROWS                  
FETCH NEXT @PAGINGSIZE ROWS ONLY                
                 
DROP TABLE  #TBL_PACKAGE_MANAGEMENT;   

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PAID_FEES]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PAID_FEES]
@FEES_MEMBER_ID INT,
@SORTCOLUMN VARCHAR(50)='FEES_MEMBER_ID',                          
@SORTORDER VARCHAR(50)='asc',                            
@OFFSETVALUE INT=0,                             
@PAGINGSIZE INT=10,                          
@SEARCHTEXT VARCHAR(50)=NULL   
AS
BEGIN
                       
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE  
 
 ;WITH CTE AS                              
 (       
	SELECT FEES_MEMBER_ID,MEMBER_ID,(B.FIRSTNAME +''+ LASTNAME)AS MEMBER_NAME,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,A.PAYMENT_ID,C.TYPE_NAME,TRASACTION_NO,A.TRANSATION_DATETIME 
	FROM TBL_FEES_MEMBER_MAPPING A WITH(NOLOCK)
	INNER JOIN TBL_MEMBERS B WITH(NOLOCK) ON A.MEMBER_ID = B.MEMBERID
	INNER JOIN PAYMENT_TYPE C WITH(NOLOCK) ON A.PAYMENT_ID = C.PAYMENT_ID
  )   
 SELECT * INTO #TBL_FEES_MEMBER_MAPPING FROM CTE    
                  
SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,FEES_MEMBER_ID,MEMBER_ID,MEMBER_NAME,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,TYPE_NAME,TRASACTION_NO,FORMAT(TRANSATION_DATETIME,'dd/MM/yyyy')AS  TRANSATION_DATETIME   
 FROM #TBL_FEES_MEMBER_MAPPING WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR MEMBER_NAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR TRASACTION_NO LIKE '%' + @SEARCHTEXT + '%'
)                  
ORDER BY                  
CASE WHEN (@SORTCOLUMN = 'FEES_MEMBER_ID' AND @SORTORDER ='ASC') THEN  FEES_MEMBER_ID END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'FEES_MEMBER_ID' AND @SORTORDER ='DESC') THEN  FEES_MEMBER_ID END DESC,                   
CASE WHEN (@SORTCOLUMN = 'MEMBER_NAME' AND @SORTORDER ='ASC') THEN  MEMBER_NAME END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'MEMBER_NAME' AND @SORTORDER ='DESC') THEN  MEMBER_NAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'TRASACTION_NO' AND @SORTORDER ='ASC') THEN  TRASACTION_NO END ASC,                               
CASE WHEN (@SORTCOLUMN = 'TRASACTION_NO' AND @SORTORDER ='DESC') THEN  TRASACTION_NO END DESC
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_FEES_MEMBER_MAPPING;                  
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PANDING_FEES_AMOUNT_BY_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PANDING_FEES_AMOUNT_BY_MEMBER]  
@MEMBER_ID INT  ,
@BATCH_ID INT
AS  
BEGIN  
  
 SELECT CASE WHEN FMM.PENDING_AMOUNT IS NULL THEN  ISNULL(B.TOTAL_AMOUNT,0) ELSE FMM.PENDING_AMOUNT END AS PENDING_AMOUNT FROM TBL_BATCH_MEMBER_MAPPING BMM WITH(NOLOCK)  
 INNER JOIN TBL_BATCH B WITH(NOLOCK) ON BMM.BATCH_ID = B.BATCH_ID  
 LEFT OUTER JOIN TBL_FEES_MEMBER_MAPPING FMM WITH(NOLOCK) ON BMM.MEMBERID = FMM.MEMBER_ID  AND B.BATCH_ID = FMM.BATCH_ID
 WHERE BMM.MEMBERID = @MEMBER_ID  AND B.BATCH_ID = @BATCH_ID
END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PAYMENT_TYPE_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PAYMENT_TYPE_LIST]
AS
BEGIN
	SELECT PAYMENT_ID,TYPE_NAME FROM PAYMENT_TYPE WITH(NOLOCK) WHERE IS_ACTIVE =1
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PROJECT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PROJECT]
@PROJECT_ID INT
AS
BEGIN
SELECT PROJECT_ID,NAME,DESCRIPTION,FORMAT(ADDED_DATETIME,'dd/MM/yyyy')AS ADDED_DATETIME,IS_ACTIVE,IS_DELETED FROM TBL_PROJECT WITH(NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ROLE_MENU_MAP_FOR_ROLE_ID]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --EXEC PROC_GET_ROLE_MENU_MAP_FOR_ROLE_ID 1
CREATE PROCEDURE [dbo].[PROC_GET_ROLE_MENU_MAP_FOR_ROLE_ID]      
 @ROLE_ID INT      
AS      
SET NOCOUNT ON;      
BEGIN      
 ;WITH CTE AS    
 (    
  SELECT  B.MENU_ID,C.ROLE_ID,COUNT(B.MENU_ID) AS ActiveChilds    
  FROM TBL_MENU A  WITH(NOLOCK) INNER JOIN    
  TBL_MENU B  WITH(NOLOCK) ON A.PARENT_MENU_ID=B.MENU_ID INNER JOIN     
  TBL_ROLE_MENU_MAP C  WITH(NOLOCK) ON A.MENU_ID=C.MENU_ID    
  WHERE C.IS_ENABLE=1 AND B.IS_ACTIVE=1    
  GROUP BY  B.MENU_ID, C.ROLE_ID    
 ),    
 CTE2 AS     
 (    
  SELECT A.PARENT_MENU_ID AS MENU_ID,B.ROLE_ID, 1 AS ActiveChilds FROM TBL_MENU A  WITH(NOLOCK)     
  INNER JOIN CTE B ON A.MENU_ID=B.MENU_ID    
  WHERE A.PARENT_MENU_ID IS NOT NULL    
  GROUP BY A.PARENT_MENU_ID, B.ROLE_ID    
 ),CTE3 AS     
 (    
  SELECT * FROM CTE     
  UNION ALL    
  SELECT * FROM CTE2    
 )    
 SELECT A.ROLE_MENU_MAP_ID, A.ROLE_ID, A.MENU_ID, A.IS_ENABLE, A.LAST_UPDATE_BY, A.LAST_UPDATE_TIME,      
 ISNULL(B.ActiveChilds,0) AS ActiveChilds,    
 ISNULL(A.IS_ADD_ACCESS,0) AS IS_ADD_ACCESS,ISNULL(A.IS_EDIT_ACCESS,0) AS IS_EDIT_ACCESS,ISNULL(A.IS_DELETE_ACCESS,0) AS IS_DELETE_ACCESS,  
 ISNULL(M.IS_ADD,0) IS_ADD,ISNULL(M.IS_EDIT,0) IS_EDIT,ISNULL(M.IS_DELETE,0)IS_DELETE        
 FROM TBL_ROLE_MENU_MAP A  WITH(NOLOCK)   
 INNER JOIN TBL_MENU M  WITH(NOLOCK) ON A.MENU_ID = M.MENU_ID  
 LEFT OUTER JOIN    
 CTE3 B ON A.MENU_ID=B.MENU_ID AND A.ROLE_ID=B.ROLE_ID    
  
 WHERE A.ROLE_ID = @ROLE_ID;      
     
     
     
     
END;     
    
  
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SPECIALIZATION]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SPECIALIZATION]
AS
BEGIN
SELECT SPECIALIZATION_ID,NAME FROM TBL_SPECIALIZATION WITH(NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TAX_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_TAX_LIST]
AS
BEGIN

SELECT TAX_ID,(CAST(TAX_NAME AS VARCHAR) +' '+ CAST(DEDUCATION_PERCENT AS VARCHAR) +' %' )AS TAX_NAME,DEDUCATION_PERCENT FROM TBL_TAX_MASTER WITH(NOLOCK) 

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TRAINER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
--EXEC PROC_GET_TRAINER 0,'FIRSTNAME','DESC',0,10,NULL  
CREATE PROCEDURE [dbo].[PROC_GET_TRAINER]  
@TRAINER_ID INT=0 ,    
@SORTCOLUMN VARCHAR(50),                          
@SORTORDER VARCHAR(50),                            
@OFFSETVALUE INT,                             
@PAGINGSIZE INT,                          
@SEARCHTEXT VARCHAR(50)     
AS  
BEGIN  
SET NOCOUNT ON                                  
                          
 DECLARE @FIRSTREC INT, @LASTREC INT                              
 SET @FIRSTREC =   @OFFSETVALUE ;                          
 SET @LASTREC =  @OFFSETVALUE + @PAGINGSIZE   
   
 ;WITH CTE AS  
 (  
  SELECT TRAINER_ID,FIRSTNAME,LASTNAME,GENDER AS GENDER_ID,B.SEX AS GENDER_NAME,FORMAT(DATEOFBIRTH,'dd/MM/yyyy')AS DATEOFBIRTH,CONTACTNUMBER,EMAIL,ADDRESS,FORMAT(A.ADDED_DATETIME,'dd/MM/yyyy')AS ADDED_DATETIME,A.ADDED_BY, SPECIALIZATION AS SPECIALIZATION_ID,
  SP.NAME AS SPECIALIZATION_NAME
 FROM TBL_TRAINERS A WITH(NOLOCK)      
 INNER JOIN TBL_SEX B WITH(NOLOCK) ON A.GENDER=B.SEX_ID  
 INNER JOIN TBL_SPECIALIZATION SP WITH(NOLOCK) ON SP.SPECIALIZATION_ID = A.SPECIALIZATION
 WHERE ((@TRAINER_ID=0) OR (TRAINER_ID=@TRAINER_ID))     
 )  
 SELECT * INTO #TBL_TRAINER FROM CTE       
  
 SELECT ROW_NUMBER() OVER (ORDER BY @SORTCOLUMN) AS ROW_NUMB,                   
 COUNT(1) OVER() AS TOTALCOUNT,                  
 TRAINER_ID,FIRSTNAME,LASTNAME,GENDER_ID,GENDER_NAME,DATEOFBIRTH,CONTACTNUMBER,EMAIL,ADDRESS,ADDED_DATETIME,ADDED_BY,
 SPECIALIZATION_ID,SPECIALIZATION_NAME
 FROM #TBL_TRAINER WITH(NOLOCK)                   
WHERE                                       
(                  
 @SEARCHTEXT IS NULL                     
 OR FIRSTNAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR LASTNAME LIKE '%' + @SEARCHTEXT + '%'                     
 OR GENDER_NAME LIKE '%' + @SEARCHTEXT + '%'                         
 OR DATEOFBIRTH  LIKE '%' + @SearchText + '%'                   
 OR CONTACTNUMBER  LIKE '%' + @SearchText + '%'                   
 OR EMAIL  LIKE '%' + @SearchText + '%'                   
 OR ADDRESS  LIKE '%' + @SearchText + '%'                   
 OR ADDED_DATETIME  LIKE '%' + @SearchText + '%'                  
 OR ADDED_BY  LIKE '%' + @SearchText + '%' 
 OR SPECIALIZATION_NAME  LIKE '%' + @SearchText + '%' 
)                  
ORDER BY                  
                  
CASE WHEN (@SORTCOLUMN = 'FIRSTNAME' AND @SORTORDER ='ASC') THEN  FIRSTNAME END ASC,                                        
CASE WHEN (@SORTCOLUMN = 'FIRSTNAME' AND @SORTORDER ='DESC') THEN  FIRSTNAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'LASTNAME' AND @SORTORDER ='ASC') THEN  LASTNAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'LASTNAME' AND @SORTORDER ='DESC') THEN  LASTNAME END DESC,                  
CASE WHEN (@SORTCOLUMN = 'GENDER_ID' AND @SORTORDER ='ASC') THEN  GENDER_ID END ASC,                               
CASE WHEN (@SORTCOLUMN = 'GENDER_ID' AND @SORTORDER ='DESC') THEN  GENDER_ID END DESC,    
CASE WHEN (@SORTCOLUMN = 'GENDER_NAME' AND @SORTORDER ='ASC') THEN  GENDER_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'GENDER_NAME' AND @SORTORDER ='DESC') THEN  GENDER_NAME END DESC,   
CASE WHEN (@SORTCOLUMN = 'DATEOFBIRTH' AND @SORTORDER ='ASC') THEN  DATEOFBIRTH END ASC,                               
CASE WHEN (@SORTCOLUMN = 'DATEOFBIRTH' AND @SORTORDER ='DESC') THEN  DATEOFBIRTH END DESC,                  
CASE WHEN (@SORTCOLUMN = 'CONTACTNUMBER' AND @SORTORDER ='ASC') THEN  CONTACTNUMBER END ASC,                               
CASE WHEN (@SORTCOLUMN = 'CONTACTNUMBER' AND @SORTORDER ='DESC') THEN  CONTACTNUMBER END DESC,                  
CASE WHEN (@SORTCOLUMN = 'EMAIL' AND @SORTORDER ='ASC') THEN  EMAIL END ASC,                               
CASE WHEN (@SORTCOLUMN = 'EMAIL' AND @SORTORDER ='DESC') THEN  EMAIL END DESC,                  
CASE WHEN (@SORTCOLUMN = 'ADDRESS' AND @SORTORDER ='ASC') THEN  ADDRESS END ASC,                               
CASE WHEN (@SORTCOLUMN = 'ADDRESS' AND @SORTORDER ='DESC') THEN  ADDRESS END DESC,                  
CASE WHEN (@SORTCOLUMN = 'ADDED_DATETIME' AND @SORTORDER ='ASC') THEN  ADDED_DATETIME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'ADDED_DATETIME' AND @SORTORDER ='DESC') THEN  ADDED_DATETIME END DESC,
CASE WHEN (@SORTCOLUMN = 'SPECIALIZATION_NAME' AND @SORTORDER ='ASC') THEN  SPECIALIZATION_NAME END ASC,                               
CASE WHEN (@SORTCOLUMN = 'SPECIALIZATION_NAME' AND @SORTORDER ='DESC') THEN  SPECIALIZATION_NAME END DESC    
OFFSET @FIRSTREC ROWS                    
FETCH NEXT @PAGINGSIZE ROWS ONLY                  
                   
DROP TABLE  #TBL_TRAINER;                  
    
  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TRAINER_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_TRAINER_LIST]
AS
BEGIN

SELECT TRAINER_ID,(FIRSTNAME +' '+LASTNAME )AS TRAINER_NAME FROM TBL_TRAINERS WITH(NOLOCK)

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_ROLE_FOR_ID]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE PROCEDURE [dbo].[PROC_GET_USER_ROLE_FOR_ID]    
 @ROLE_ID INT    
AS    
SET NOCOUNT ON;    
BEGIN    
 SELECT ROLE_ID, ROLE_NAME, ROLE_DESCRIPTION, IS_IN_USE, LAST_UPDATE_BY, LAST_UPDATE_TIME    
 FROM TBL_USER_ROLE   WITH(NOLOCK)   
 WHERE ROLE_ID = @ROLE_ID;    
END;    
    
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_YEARLY_FEES_DETAILS_CHART]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_YEARLY_FEES_DETAILS_CHART]
@YEAR VARCHAR(20)='2023'
AS
BEGIN

SELECT 
(DATENAME(YEAR, GETDATE()))AS Year,
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='January'
) AS'January',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='February'
) AS'February',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='March'
) AS'March',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='April'
) AS'April',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='May'
) AS'May',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='June'
) AS'June',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='July'
) AS'July',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='August'
) AS'August',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='September'
) AS'September',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='October'
) AS'October',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='November'
) AS'November',
(
SELECT ISNULL(SUM(PAID_AMOUNT),0)AS TOTAL_AMOUNT FROM TBL_FEES_MEMBER_MAPPING WITH(NOLOCK) WHERE  DATENAME(MONTH, GETDATE())='December'
) AS'December'

END
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_USER_LOGIN_DETAILS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_INSERT_USER_LOGIN_DETAILS]
@USER_NAME VARCHAR(50),
@PASSWORD VARCHAR(50),
@ROLE_ID INT,
@RowCount INT OUTPUT    
AS 
BEGIN
SET NOCOUNT ON   

INSERT INTO USER_LOGIN_MASTER(USER_NAME,PASSWORD,ROLE_ID,ADDED_BY,ADDED_BY_DATETIME,IS_ACTIVE)VALUES
(@USER_NAME,@PASSWORD,@ROLE_ID,1,GETDATE(),1)
SET @RowCount =  @@rowcount;   
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_IS_USER_VALID]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_IS_USER_VALID]
@USER_NAME VARCHAR(50),
@PASSWORD VARCHAR(50)
AS 
BEGIN
SET NOCOUNT ON   

IF EXISTS(SELECT * FROM USER_LOGIN_MASTER WITH(NOLOCK) WHERE USER_NAME=@USER_NAME AND PASSWORD=@PASSWORD)
BEGIN
	 SELECT USER_ID,USER_NAME,ROLE_ID,IS_ACTIVE FROM USER_LOGIN_MASTER  WITH(NOLOCK) WHERE USER_NAME=@USER_NAME AND PASSWORD=@PASSWORD
	END
	ELSE
	BEGIN
	 SELECT USER_ID,USER_NAME,ROLE_ID,IS_ACTIVE FROM USER_LOGIN_MASTER  WITH(NOLOCK) WHERE USER_NAME=@USER_NAME AND PASSWORD=@PASSWORD
	END
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BATCH]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_UPDATE_BATCH]  
@BATCH_ID INT,  
@NAME VARCHAR(50),  
@DESCRIPTION VARCHAR(50),
@FROM_DATE DATE,
@TO_DATE DATE,
@AMOUNT DECIMAL(18,2),
@TAX_ID INT,
@GST_AMOUNT DECIMAL(18,2),
@TOTAL_AMOUNT DECIMAL(18,2),
@RowCount INT OUTPUT    
AS  
BEGIN  
     
   UPDATE TBL_BATCH SET NAME=@NAME,DESCRIPTION=@DESCRIPTION,FROM_DATE=@FROM_DATE,TO_DATE=@TO_DATE,AMOUNT=@AMOUNT,TAX_ID=@TAX_ID,GST_AMOUNT=@GST_AMOUNT,TOTAL_AMOUNT=@TOTAL_AMOUNT
   WHERE BATCH_ID=@BATCH_ID  
 SET @RowCount =  @@rowcount;  
  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BATCH_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_BATCH_MEMBER]        
@BATCH_MEMBER_MAPPING_ID INT,        
@MEMBERID INT,        
@BATCH_ID INT,        
@START_DATE DATE,        
@END_DATE DATE,       
@PACKAGE_ID INT,      
@IS_ON_HOLD BIT,
@NEXT_FEES_DATETIME DATE,
@RowCount INT OUTPUT         
AS        
BEGIN        
        
    UPDATE TBL_BATCH_MEMBER_MAPPING SET MEMBERID=@MEMBERID,BATCH_ID=@BATCH_ID,START_DATE=@START_DATE,END_DATE=@END_DATE,PACKAGE_ID=@PACKAGE_ID ,IS_ON_HOLD=@IS_ON_HOLD,  
 IS_NO_HOLD_DATETIME=GETDATE() ,NEXT_FEES_DATETIME = @NEXT_FEES_DATETIME 
 WHERE BATCH_MEMBER_MAPPING_ID=@BATCH_MEMBER_MAPPING_ID        
 SET @RowCount =  @@rowcount;        
        
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_BATCH_TIMING]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_UPDATE_BATCH_TIMING]  
@BATCH_TIMING_ID INT,  
@BATCH_ID INT,  
@TRAINER_ID INT,  
--@FROM_DATE DATE,  
--@TO_DATE DATE,  
--@FROM_TIME TIME,  
--@TO_TIME TIME,  
@ADDED_BY INT,  
@RowCount INT OUTPUT       
AS  
BEGIN  
   
 UPDATE TBL_BATCH_TIMING SET BATCH_ID=@BATCH_ID,TRAINER_ID=@TRAINER_ID,ADDED_BY=@ADDED_BY  
 WHERE BATCH_TIMING_ID=@BATCH_TIMING_ID  
 SET @RowCount =  @@rowcount;   
 --FROM_DATE=@FROM_DATE,TO_DATE=@TO_DATE,FROM_TIME=@FROM_TIME,TO_TIME=@TO_TIME,
END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_FEES]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_FEES]
@MEMBER_ID INT,
@PAID_AMOUNT DECIMAL(18,2),
@TOTAL_AMOUNT DECIMAL(18,2),
@PENDING_AMOUNT DECIMAL(18,2),
@PAYMENT_ID INT,
@TRASACTION_NO VARCHAR(100),
@UPDATED_BY INT,
@RowCount INT OUTPUT   
AS
BEGIN
SET NOCOUNT ON   
 BEGIN TRY                  
  BEGIN TRANSACTION;    
		UPDATE TBL_FEES_MEMBER_MAPPING SET PAID_AMOUNT=@PAID_AMOUNT,TOTAL_AMOUNT=@TOTAL_AMOUNT,PENDING_AMOUNT=@PENDING_AMOUNT,PAYMENT_ID=@PAYMENT_ID,
		TRASACTION_NO=@TRASACTION_NO,UPDATED_BY=@UPDATED_BY,UPDATED_DATETIME=GETDATE()
		WHERE MEMBER_ID =@MEMBER_ID
		INSERT INTO TBL_FEES_MEMBER_HISTORY(MEMBER_ID,PAID_AMOUNT,TOTAL_AMOUNT,PENDING_AMOUNT,PAYMENT_ID,TRASACTION_NO,ADDED_BY,ADDED_BY_DATETIME)VALUES
		(@MEMBER_ID,@PAID_AMOUNT,@TOTAL_AMOUNT,@PENDING_AMOUNT,@PAYMENT_ID,@TRASACTION_NO,@UPDATED_BY,GETDATE())

		SET @RowCount =  @@rowcount; 
	COMMIT TRANSACTION;                  
  END TRY                  
  BEGIN CATCH                  
   IF @@TRANCOUNT > 0                  
   ROLLBACK TRANSACTION;                  
   DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE UPDATE PAYMENT' + ERROR_MESSAGE();                    
   ;THROW 50000,@ERRORTEXT,1;                  
  END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_MEMBER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
CREATE PROCEDURE [dbo].[PROC_UPDATE_MEMBER]  
@MEMBERID INT=0,    
@FIRSTNAME VARCHAR(50),    
@LASTNAME VARCHAR(50),    
@GENDER INT,     
@DATEOFBIRTH DATE,    
@CONTACTNUMBER VARCHAR(15),    
@EMAIL VARCHAR(100),    
@ADDRESS VARCHAR(255),   
--@ADDED_BY INT,   
@IMAGEDATA VARCHAR(MAX),
@RowCount INT OUTPUT      
AS  
BEGIN  
  
 UPDATE TBL_MEMBERS SET FIRSTNAME=@FIRSTNAME,LASTNAME=@LASTNAME,GENDER=@GENDER,DATEOFBIRTH=@DATEOFBIRTH,CONTACTNUMBER=@CONTACTNUMBER,EMAIL=@EMAIL,  
 ADDRESS=@ADDRESS,IMAGEDATA=@IMAGEDATA WHERE MEMBERID=@MEMBERID  
 SET @RowCount =  @@rowcount;   
   
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PACKAGE_MANAGEMENT]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_PACKAGE_MANAGEMENT]
@PACKAGE_ID INT,
@TITLE VARCHAR(50),
@DESCRIPTION VARCHAR(500),
@FEES DECIMAL(18,2),
@TAX_ID INT,
@UPDATED_BY INT,
@TOTAL_FEES DECIMAL(18,2),
@RowCount INT OUTPUT   
AS
BEGIN
	
	UPDATE TBL_PACKAGE_MANAGEMENT SET TITLE=@TITLE,DESCRIPTION=@DESCRIPTION,TAX_ID=@TAX_ID,TOTAL_FEES=@TOTAL_FEES,UPDATED_BY=@UPDATED_BY,UPDATED_BY_DATETIME=GETDATE()
	WHERE PACKAGE_ID =@PACKAGE_ID
	SET @RowCount =  @@rowcount;  
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ROLE_MENU_MAP_LIST]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_ROLE_MENU_MAP_LIST]      
  @ROLE_MENU_MAP TYP_ROLE_MENU_MAP READONLY,      
  @USER_ID VARCHAR(30)      
AS      
SET NOCOUNT ON;      
BEGIN    
   
 --select *  into ROLE_MENU_MAP_check from  @ROLE_MENU_MAP   
  
 BEGIN TRY        
 BEGIN TRANSACTION;        
  
    
  DECLARE @ROLEID INT    
  DECLARE @TABLE_MENU AS TABLE(SNo INT IDENTITY(1,1), ROLE_ID INT,MENU_ID INT ,IS_ENABLE BIT )  
  
  INSERT INTO @TABLE_MENU(ROLE_ID,MENU_ID,IS_ENABLE)  
  SELECT ROLE_ID,MENU_ID,IS_ENABLE FROM @ROLE_MENU_MAP  
  
  SELECT TOP 1 @ROLEID = ROLE_ID FROM @ROLE_MENU_MAP    
    
  DELETE FROM TBL_ROLE_MENU_MAP     
  WHERE ROLE_ID = @ROLEID    
    
  DECLARE @_ROLE_MENU_MAP_ID int  
  
  DECLARE @i_inv INT =1   
  DECLARE @count_inv INT   
  
  SELECT @count_inv = COUNT(SNo) FROM @TABLE_MENU WHILE (@i_inv <= @count_inv)  
  BEGIN   
  SELECT @_ROLE_MENU_MAP_ID = ISNULL(MAX(ROLE_MENU_MAP_ID),0) + 1 FROM TBL_ROLE_MENU_MAP  
  
  PRINT @_ROLE_MENU_MAP_ID  
  
  INSERT INTO TBL_ROLE_MENU_MAP(ROLE_ID, MENU_ID, IS_ENABLE, LAST_UPDATE_BY, LAST_UPDATE_TIME,ROLE_MENU_MAP_ID)      
  SELECT ROLE_ID, MENU_ID, IS_ENABLE, @USER_ID, GETDATE(),@_ROLE_MENU_MAP_ID      
  FROM @TABLE_MENU A      
  WHERE NOT EXISTS(SELECT 1 FROM TBL_ROLE_MENU_MAP B  WITH (NOLOCK) WHERE B.ROLE_ID = A.ROLE_ID AND B.MENU_ID = A.MENU_ID)  
  AND A.SNo = @i_inv  
  
  SELECT @i_inv = @i_inv + 1  
  END  
    
  --INSERT INTO TBL_ROLE_MENU_MAP(ROLE_ID, MENU_ID, IS_ENABLE, LAST_UPDATE_BY, LAST_UPDATE_TIME,ROLE_MENU_MAP_ID)      
  --SELECT ROLE_ID, MENU_ID, IS_ENABLE, @USER_ID, GETDATE(),@_ROLE_MENU_MAP_ID      
  --FROM @ROLE_MENU_MAP A      
  ----WHERE NOT EXISTS(SELECT 1 FROM TBL_ROLE_MENU_MAP B WHERE B.ROLE_ID = A.ROLE_ID AND B.MENU_ID = A.MENU_ID);      
    
  
  DECLARE @TBL_MENU TABLE (ROW_ID INT IDENTITY(1,1),MENU_ID INT)    
    
  --Get Parent ID Top Level Menu    
  INSERT INTO @TBL_MENU(MENU_ID)    
  SELECT DISTINCT PARENT_MENU_ID    
  FROM TBL_MENU WITH (NOLOCK)     
  WHERE MENU_ID IN (SELECT MENU_ID FROM TBL_ROLE_MENU_MAP  WITH (NOLOCK) WHERE ROLE_ID=@ROLEID)    
  AND PARENT_MENU_ID IS NOT NULL    
    
  --drop table TBL_MENU_check1  
  --SELECT * into TBL_MENU_check1 from @TBL_MENU  
  
  --Get Parent ID from Sub Menu    
  INSERT INTO @TBL_MENU(MENU_ID)    
  SELECT DISTINCT PARENT_MENU_ID   
  FROM TBL_MENU WITH (NOLOCK)     
  WHERE MENU_ID IN     
  (    
  SELECT DISTINCT PARENT_MENU_ID    
  FROM TBL_MENU WITH (NOLOCK)     
  WHERE MENU_ID IN (SELECT MENU_ID FROM TBL_ROLE_MENU_MAP WITH (NOLOCK) WHERE ROLE_ID=@ROLEID)    
  AND PARENT_MENU_ID IS NOT NULL    
  )     
  AND PARENT_MENU_ID IS NOT NULL AND MENU_ID NOT IN (SELECT MENU_ID FROM @TBL_MENU)  
    
  --drop table TBL_MENU_check  
  --SELECT * into TBL_MENU_check from @TBL_MENU  
  
  SET @count_inv = 1  
  SET @i_inv = 1  
  DECLARE @_MENU_ID INT  
   
  
  SELECT @count_inv = COUNT(ROW_ID) FROM @TBL_MENU WHILE (@i_inv <= @count_inv)  
  BEGIN  
   
   SELECT @_MENU_ID = MENU_ID FROM @TBL_MENU WHERE ROW_ID = @i_inv  
    
   IF(SELECT COUNT(1) FROM TBL_ROLE_MENU_MAP  WITH (NOLOCK) WHERE MENU_ID = @_MENU_ID AND ROLE_ID = @ROLEID) = 0  
   BEGIN  
    SELECT MAX(ROLE_MENU_MAP_ID) FROM TBL_ROLE_MENU_MAP WITH (NOLOCK)  
    SELECT @_ROLE_MENU_MAP_ID = ISNULL(MAX(ROLE_MENU_MAP_ID),0) + 1 FROM TBL_ROLE_MENU_MAP WITH (NOLOCK)        
  
    INSERT INTO TBL_ROLE_MENU_MAP(ROLE_ID, MENU_ID, IS_ENABLE, LAST_UPDATE_BY, LAST_UPDATE_TIME,ROLE_MENU_MAP_ID)      
    SELECT @ROLEID, @_MENU_ID, 1, @USER_ID, GETDATE(),@_ROLE_MENU_MAP_ID        
       
   END  
   ELSE  
   BEGIN  
    UPDATE TBL_ROLE_MENU_MAP  
    SET IS_ENABLE = 1  
    WHERE ROLE_ID = @ROLEID AND MENU_ID = @_MENU_ID  
   END  
   
  SELECT @i_inv = @i_inv + 1  
 END  
       
  
 COMMIT TRANSACTION;        
 END TRY        
 BEGIN CATCH        
  IF @@TRANCOUNT > 0        
  ROLLBACK TRANSACTION;        
  DECLARE @ERRORTEXT VARCHAR(MAX)='ERROR WHILE PROCESSING ADD REQUEST.' + ERROR_MESSAGE();          
  ;THROW 50000,@ERRORTEXT,1;        
 END CATCH            
      
END  
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ROLE_MENU_OPERATION_ACCESS]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
    
CREATE PROCEDURE [dbo].[PROC_UPDATE_ROLE_MENU_OPERATION_ACCESS]        
@ROLE_MENU_MAP_ID INT,      
@IS_ADD_ACCESS bit ,      
@IS_EDIT_ACCESS bit ,      
@IS_DELETE_ACCESS bit ,        
@USER_ID VARCHAR(20)        
AS        
SET NOCOUNT ON;        
BEGIN        
 UPDATE TBL_ROLE_MENU_MAP        
 SET IS_ADD_ACCESS=@IS_ADD_ACCESS,IS_EDIT_ACCESS=@IS_EDIT_ACCESS,      
 IS_DELETE_ACCESS=@IS_DELETE_ACCESS      
 FROM TBL_ROLE_MENU_MAP WITH (NOLOCK)     
 WHERE ROLE_MENU_MAP_ID=@ROLE_MENU_MAP_ID;       
      
       
 UPDATE A      
 SET IS_ADD_ACCESS=B.IS_ADD_ACCESS      
 FROM TBL_USER_MENU_MAP A WITH (NOLOCK)       
 INNER JOIN TBL_USER_DETAIL C WITH (NOLOCK) ON A.USER_ID=C.USER_ID       
 INNER JOIN TBL_ROLE_MENU_MAP B  WITH (NOLOCK) ON A.MENU_ID=B.MENU_ID AND C.ROLE_ID=B.ROLE_ID      
 WHERE B.ROLE_MENU_MAP_ID=@ROLE_MENU_MAP_ID      
 AND A.IS_ADD_ACCESS=1 AND B.IS_ADD_ACCESS=0      
       
 UPDATE A      
 SET IS_EDIT_ACCESS=B.IS_EDIT_ACCESS      
 FROM TBL_USER_MENU_MAP A WITH (NOLOCK)        
 INNER JOIN TBL_USER_DETAIL C WITH (NOLOCK) ON A.USER_ID=C.USER_ID       
 INNER JOIN TBL_ROLE_MENU_MAP B  WITH (NOLOCK) ON A.MENU_ID=B.MENU_ID AND C.ROLE_ID=B.ROLE_ID      
 WHERE B.ROLE_MENU_MAP_ID=@ROLE_MENU_MAP_ID      
 AND A.IS_EDIT_ACCESS=1 AND B.IS_EDIT_ACCESS=0      
        
 UPDATE A      
 SET IS_DELETE_ACCESS=B.IS_DELETE_ACCESS      
 FROM TBL_USER_MENU_MAP A  WITH (NOLOCK)      
 INNER JOIN TBL_USER_DETAIL C WITH (NOLOCK) ON A.USER_ID=C.USER_ID       
 INNER JOIN TBL_ROLE_MENU_MAP B  WITH (NOLOCK) ON A.MENU_ID=B.MENU_ID AND C.ROLE_ID=B.ROLE_ID      
 WHERE B.ROLE_MENU_MAP_ID=@ROLE_MENU_MAP_ID      
 AND A.IS_DELETE_ACCESS=1 AND B.IS_DELETE_ACCESS=0      
       
      
END;        
      
      
      
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_TRAINER]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_UPDATE_TRAINER]  
@TRAINER_ID INT,  
@FIRSTNAME VARCHAR(50),  
@LASTNAME VARCHAR(50),  
@GENDER INT,  
@CONTACTNUMBER VARCHAR(15),  
@EMAIL VARCHAR(100),  
@SPECIALIZATION_ID INT,  
@ADDED_BY INT,  
@DATEOFBIRTH DATETIME,  
@ADDRESS VARCHAR(100),  
@RowCount INT OUTPUT     
AS  
BEGIN  
   
 UPDATE TBL_TRAINERS SET FIRSTNAME=@FIRSTNAME,LASTNAME=@LASTNAME,GENDER=@GENDER,CONTACTNUMBER=@CONTACTNUMBER,EMAIL=@EMAIL,SPECIALIZATION=@SPECIALIZATION_ID,DATEOFBIRTH = @DATEOFBIRTH,ADDRESS=@ADDRESS  
 WHERE TRAINER_ID=@TRAINER_ID  
 SET @RowCount =  @@rowcount;          
END
GO
/****** Object:  StoredProcedure [dbo].[ROLE_WISE_MENU_GET_ALL_MENU]    Script Date: 19-09-2023 12:16:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
  
CREATE PROCEDURE [dbo].[ROLE_WISE_MENU_GET_ALL_MENU]  
AS  
BEGIN  
 SET NOCOUNT ON;  
  
 SELECT MENU_ID,MENU_CODE,MENU_NAME,MENU_URL,ISNULL(PARENT_MENU_ID,-1) PARENT_MENU_ID,ICON_CSS_NAME  
 FROM TBL_MENU WITH(NOLOCK)   
 WHERE IS_ACTIVE = 1  
  
END  
GO
USE [master]
GO
