
@{
    Layout = null;
}
<div style=" padding:20px; color:red">

   
    <h3>
        Exception : @ViewData["ErrorMessage"]  in <span>Action :</span> @ViewData["actionName"]  <span>Controller :</span> @ViewData["controllerName"]
    </h3>

    <h6>
    </h6>
    <br />
    <br />
</div>