
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link href="~/css/site.min.css" rel="stylesheet" />
<!-- CSS CDN -->
<style>
    .select2-dropdown.select2-dropdown--below {
        width: 190px !important;
    }

    .select2-container--default .select2-selection--single {
        padding: 0px;
        /* height: 37px; */
        width: 212px;
        font-size: 1.2em;
        position: relative;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));
            background-image: -moz-linear-gradient(top, #424242, #030303);
            background-image: -ms-linear-gradient(top, #424242, #030303);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
            background-image: -webkit-linear-gradient(top, #424242, #030303);
            background-image: -o-linear-gradient(top, #424242, #030303);
            background-image: linear-gradient(#424242, #030303);
            width: 40px;
            color: #fff;
            font-size: 1.3em;
            padding: 4px 12px;
            height: 27px;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
        }
</style>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"><button type="button" class="btn btn-block bg-gradient-info btn-sm" onclick="OpenCreateTrainer();">Click to Register Trainer</button></div>
            </div>
            <br />
            <table class="table table-bordered table-striped table-hover dataTable" id="TrainerGrid">
                <thead>
                    <tr class="align-middle">
                        <th style="width:50px">Action</th>
                        <th>Photo</th>
                        <th>Trainer Id</th>
                        <th>First Name</th>
                        <th>Last No</th>
                        <th>Gender</th>
                        <th>Birth Date </th>
                        <th>Contact </th>
                        <th>Email </th>
                        <th>Address </th>
                        <th>Added Date</th>
                    </tr>
                </thead>
                <tbody class="js-sweetalert"></tbody>
            </table>
            <input type="hidden" id="hdnTrainerId" />
        </div>
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="TrainerModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h4 class="modal-title">Trainer Registration</h4>*@
                    <h4 class="modal-title"><i class="fa fa-pen"></i> Trainer Registration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" maxlength="10">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" maxlength="10">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="birthDate" class="form-label">Birth Date</label>
                                <input type="text" class="form-control" id="birthDate" name="birthDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="contact" class="form-label">Contact</label>
                                <input type="number" class="form-control" id="contact" name="contact">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" maxlength="50">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea class="form-control" id="address" name="address" rows="3" maxlength="100"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label">Specialization</label>
                                <select class="form-control select2" style="width: 100%;" id="specialization" name="specialization"></select>
                            </div>
                            <div class="col-md-6 mb-3">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddTrainer();">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script src="~/MasterSettings/Trainer.js"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>

<script>
    var Toast;
    $(document).ready(function () {
        LoadTrainerList();
        LoadSpecilisationList();
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1901,
            locale: {
                format: 'DD/MM/YYYY'
            },
            autoclose: true,
            maxYear: parseInt(moment().format('YYYY'), 10)
        }, function (start, end, label) {
            var years = moment().diff(start, 'years');
            //alert("You are " + years + " years old!");
        });


        Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
        document.getElementById("contact").addEventListener("input", function () {
            if (this.value.length > 3) {
                this.value = this.value.slice(0, 11);
            }
        });
    });

    $(function () {
        LoadTrainerList();
    });

</script>
<script src="~/dist/plugins/moment/moment.min.js"></script>
<script src="~/dist/plugins/sweetalert2/sweetalert2.js"></script>
